@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section KendoScripts{
    <partial name="_GridScripts" />
}

<section class="content-header">
    <h1>
        Roles & Capabilities Details Report
        <small>Presents all SAS roles with their capability groups and components</small>
        <br />
    </h1>
</section>

<m-grid id="SASAuditTrailAccessRole" data-urlkey="SASAuditTrailAccessRole" data-handlerkey="SASAuditTrailAccessRole" @*data-prop="AlertId"*@></m-grid>

@*<div id="grid"></div>*@
@section Scripts{
    <script type="module" defer src="~/js/components/grid/grid.js"></script>


    @*<script src="~/js/Dynamic.js" id="script" defer type="module" data-prop="AlertId" data-urlkey="AlertDetails" data-handlerkey="AlertDetails"></script>*@
}
