@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section KendoScripts{
    <partial name="_GridScripts" />
}



<section class="content-header">
    <h1>
        Audit For Corporates Report
        <small class="h6">Presents all Corporate customers with the related information as below</small>
        <br />
    </h1>
</section>

<m-grid id="ArtAuditCorporate" data-urlkey="ArtAuditCorporate" data-handlerkey="ArtAuditCorporate"></m-grid>

@section Scripts{
    <script type="module" defer src="~/js/components/grid/grid.js"></script>
}
