@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section KendoScripts{
    <partial name="_GridScripts" />
}
<section class="content-header">
    <h1>
        Hierarchical Transaction
        <small>presents all transactions with staff hierarchy i.e. (subordinates not have access to managers transactions) whereas Regional Delegate can not excluded any staff, Group Head not have access to see Regional Delegate, Head of Support not have the access to see the accounts by Heads of Retail,SMEs and Corporate, Group Head, and Regional Delegate, and Branch Manager not have the access to see the accounts Heads of Retail,SMEs and Corporate, Group Head, Regional Delegate, and Head Of support as below</small>
        <br />
    </h1>
</section>


<m-grid id="HierarchicalTransaction" data-urlkey="HierarchicalTransaction" data-handlerkey="HierarchicalTransaction"></m-grid>

@section Scripts{
    <script type="module" defer src="~/js/components/grid/grid.js"></script>
}
