@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section KendoScripts{
    <partial name="_GridScripts" />
}
@*confirm.js files*@
<link href="~/lib/jquery-confirm/jquery-confirm.min.css" rel="stylesheet" />
<script src="~/lib/jquery-confirm/jquery-confirm.min.js"></script>
@*toast.js files*@
<link href="~/lib/jquery-toast-plugin/jquery.toast.min.css" rel="stylesheet" />
<script src="~/lib/jquery-toast-plugin/jquery.toast.min.js"></script>
<section class="content-header">
    <h1>
        SLA Level 1 NonStaff Violated Without Action
        <small>Presents SLA Level 1 NonStaff Violated Without Action in the table below</small>
        <br />
    </h1>
</section>
<m-grid id="SlaLevel1NonStaffViolatedWithoutAction" data-urlkey="SlaLevel1NonStaffViolatedWithoutAction" data-handlerkey="SlaLevel1NonStaffViolatedWithoutAction"></m-grid>

@*<div id="grid"></div>*@
@section Scripts{
    <script type="module" defer src="~/js/Components/Grid/Grid.js"></script>


    @*<script src="~/js/Dynamic.js" id="script" defer type="module" data-urlkey="SlaLevel1NonStaffViolatedWithoutAction" data-handlerkey="SlaLevel1NonStaffViolatedWithoutAction"></script>*@
}