@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section KendoScripts{
    <partial name="_QueryBuilderGridScripts" />
}
<section class="content-header">
    <h1>
        DGAML User Performance Per User and Action Report
        <small> </small>
        <br />
    </h1>
</section>




<art-filters-control id="DGAMLUserPerformancePerUserAndAction" data-key="DGAMLUserPerformancePerUserAndAction"></art-filters-control>
<m-grid id="DGAMLUserPerformancePerUserAndAction" data-urlkey="DGAMLUserPerformancePerUserAndAction" data-handlerkey="DGAMLUserPerformancePerUserAndAction" data-stored="DGAMLUserPerformancePerUserAndAction"></m-grid>

<script>

</script>
@section Scripts {


    <script src="~/js/Components/ARTQBuilder/QueryBuilder.js" defer type="module"></script>

    <script type="module" defer src="~/js/Components/Grid/Grid.js"></script>

    @*    <script src="~/js/Dynamic.js" id="script" defer type="module" data-stored="true" data-urlkey="DGAMLUserPerformancePerUserAndAction" data-handlerkey="DGAMLUserPerformancePerUserAndAction"></script>
*@
}