
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section KendoScripts{
    <partial name="_QueryBuilderGridScripts" />
}
<section class="content-header">
    <h1>
        User Performance Per User and Action Report
        <small> </small>
        <br />
    </h1>
</section>


@*<filters-control data-key="UserPerformancePerUserAndAction"></filters-control>
<div id="grid"></div>
*@
<art-filters-control id="UserPerformancePerUserAndAction" data-key="UserPerformancePerUserAndAction"></art-filters-control>
<m-grid id="UserPerformancePerUserAndAction" data-urlkey="UserPerformancePerUserAndAction" data-handlerkey="UserPerformancePerUserAndAction" data-stored="UserPerformancePerUserAndAction"></m-grid>

@section Scripts {


    <script src="~/js/Components/ARTQBuilder/QueryBuilder.js" defer type="module"></script>

    <script type="module" defer src="~/js/Components/Grid/Grid.js"></script>

    @*    <script src="~/js/Dynamic.js" id="script" defer type="module" data-stored="true" data-urlkey="UserPerformancePerActionUser" data-handlerkey="UserPerformancePerActionUser"></script>
*@
}
