@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section KendoScripts{
    <partial name="_GridScripts" />
}



<section class="content-header">
    <h1>
        GOAML Reports Indicatores
        <small class="h6">Presents each GOAML report with the related indicators</small>
        <br />
    </h1>
</section>

<m-grid id="GOAMLReportIndicatorDetails" data-urlkey="GOAMLReportIndicatorDetails" data-handlerkey="GOAMLReportIndicatorDetails"></m-grid>

@section Scripts{
    <script type="module" defer src="~/js/components/grid/grid.js"></script>
}
