@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section KendoScripts{
    <partial name="_QueryBuilderGridScripts" />
}

<section class="content-header">
    <h1>
        DGAML User Performance Per Action Report
        <small> </small>
        <br />
    </h1>
</section>




<art-filters-control id="DGAMLUserPerformPerAction" data-key="DGAMLUserPerformPerAction"></art-filters-control>
<m-grid id="DGAMLUserPerformPerAction" data-urlkey="DGAMLUserPerformPerAction" data-handlerkey="DGAMLUserPerformPerAction" data-stored="DGAMLUserPerformPerAction"></m-grid>

<script>

</script>
@section Scripts {


    <script src="~/js/Components/ARTQBuilder/QueryBuilder.js" defer type="module"></script>

    <script type="module" defer src="~/js/Components/Grid/Grid.js"></script>

    @*    <script src="~/js/Dynamic.js" id="script" defer type="module" data-stored="true" data-urlkey="DGAMLUserPerformPerAction" data-handlerkey="DGAMLUserPerformPerAction"></script>
*@
}