@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section KendoScripts{
    <partial name="_GridScripts" />
}


<section class="content-header">
    <h1>
        FATCA IRS Report Details
        <small>Presents all FATCA IRS Report details</small>
    </h1>
</section>


<m-grid id="FATCAIrsReport" data-urlkey="FATCAIrsReport" data-handlerkey="FATCAIrsReport"></m-grid>

@*<div id="grid"></div>*@
@section Scripts{
    <script type="module" defer src="~/js/Components/Grid/Grid.js"></script>


   @* <script src="~/js/Dynamic.js" type="module" defer id="script" data-urlkey="FATCAIrsReport"></script>*@
}


