@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section KendoScripts{
    <partial name="_GridScripts" />
}

<section class="content-header">
    <h1>
        Closed Level 1 (Maker)
        <small>
            Presents all TB AML closed alerts which exceeded the threshold for first manual routing alerts
            to level 2 (Checker) with below information
        </small>
        <br />
    </h1>
</section>

<m-grid id="SlaTbLevel1ViolatedWithAction" data-urlkey="SlaTbLevel1ViolatedWithAction" data-handlerkey="SlaTbLevel1ViolatedWithAction"></m-grid>

@section Scripts{
    <script type="module" defer src="~/js/Components/Grid/Grid.js"></script>


}
