@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section KendoScripts{
    <partial name="_GridScripts" />
}



<section class="content-header">
    <h1>
        Medium risk within 3 months customers Report
        <small>presents all medium-risk customers need to be update their KYCs within 3 months with the related information below</small>
    </h1>
</section>

<m-grid id="ArtKycMediumThreeMonth" data-urlkey="ArtKycMediumThreeMonth" data-handlerkey="ArtKycMediumThreeMonth"></m-grid>

@section Scripts{

    <script type="module" defer src="~/js/Components/Grid/Grid.js"></script>
}


