@using ART_PACKAGE.Areas.Identity.Data;
@using ART_PACKAGE.Helpers.HTMLHelpers;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container">

    <h2>Customize your report</h2>
    <div id="errors" hidden class="alert alert-danger alert-dismissible" style="padding:2%" role="alert">
         <button type="button" style="margin-right:2%;" id="closeEroors" onclick="hideErrors()" class="close"><span aria-hidden="true">&times;</span></button>
    </div>
    <form id="CustomReportForm" method="post" asp-action="SaveReport"> 
        <div class="row">
        <h4 class="col-10">Select the table and columns you want.</h4>

        <div class="col-2">
                <button type="submit" class="btn btn-primary ">Save Report</button>
            </div>
            </div>
            <div class="row">
             <div class="col-4">
                <m-select id="Shcema" data-searchable data-title="Shcema" style="width:100%"></m-select>
            </div>
            <div class="col-4">
                <m-select id="TableName" data-searchable data-title="Table" style="width:100%"></m-select>
            </div>

             <div class="col-4">
                    <m-select id="ColumnNames" data-searchable data-title="Column" style="width:100%" data-multiple></m-select>
            </div>
        </div>
        <div class="row" style="margin-top:2%"> 
            <m-input id="title"  dat-palceholder="Report Title" data-title="Report Title"></m-input>
        </div>
        <div class="row" style="margin-top:2%" >
            <m-areainput id="desc" dat-palceholder="Report Description" data-title="Report Description"></m-areainput>
         
        </div>
        

      



        <div class="accordion mt-4" id="addchartsAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="addchartsHeader">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#addchartsCollapse" aria-controls="addchartsCollapse">
                        Add Charts
                    </button>
                </h2>
                <div id="addchartsCollapse" class="accordion-collapse collapse show" aria-labelledby="addchartsHeader" data-bs-parent="#addchartsAccordion">
                    <div class="accordion-body">
                      @*  <m-card data-imgsrc="/imgs/LOGO.png" data-title="islam" data-content="Test Content"></m-card>*@
                        <div class="row">
                            <div class="col-3">
                                <m-input id="chartTitle"  data-palceholder="Chart Title" data-title="Chart Title"></m-input>
                            </div>

                            <div class="col-3">
                                <m-select id="ChartColumnSelect" data-searchable data-title="Chart Column" style="width:100%"></m-select>
                            </div>
                            <div class="col-3">
                                <m-select id="chartType" data-searchable data-title="Chart Type" style="width:100%"></m-select>
                            </div>  
                            <div class="col-3">
                                <button id="addChart" type="button" class="btn btn-outline-primary btn-lg m-1">add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion mt-4" id="chartsAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="chartsHeader">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#chartsCollapse" aria-controls="chartsCollapse">
                        Charts
                    </button>
                </h2>
                <div id="chartsCollapse" class="accordion-collapse collapse show" aria-labelledby="addchartsHeader" data-bs-parent="#chartsAccordion">
                    <div class="accordion-body row"  id="cardContainer">
                       
                    </div>
                </div>
            </div>
        </div>




       


    </form>


</div>

@section scripts {
    <script src="~/js/components/card/card.js"></script>
    <script src="~/js/components/textareainput/textareainput.js"></script>
    <script src="~/js/components/multiselect/select.js"></script>
    <script src="~/js/components/textinput/textinput.js"></script>
    <script src="~/js/ReportScripts.js" ></script>
}