
@{
    ViewData["Title"] = "MyReports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>My Reports</h2>


<div id="grid"></div>


@section scripts {
     <script src="~/lib/Plugins/amcharts_4.10.18/amcharts4/core.js"></script>
    <script src="~/lib/Plugins/amcharts_4.10.18/amcharts4/charts.js"></script>
    <script src="~/lib/Plugins/amcharts_4.10.18/amcharts4/themes/animated.js"></script>
    <script src="~/js/URLConsts.js" ></script>
    <script src="~/js/Dynamic.js" type="module" id="script"  data-urlkey="MyReports"></script>

}
