@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/lib/Plugins/Kendo/kendo.default-v2.min.css" rel="stylesheet" />
<script src="~/lib/Plugins/Kendo/jquery-1.12.4.min.js"></script>
<script src="~/lib/Plugins/Kendo/jquery.min.js"></script>
<script src="~/lib/Plugins/Kendo/jszip.js"></script>
<script src="~/lib/Plugins/Kendo/jszip.min.js"></script>
<script src="~/lib/Plugins/Kendo/kendo.all.min.js"></script>
<script src="~/lib/jquery-loading-overlay/loadingoverlay.js"></script>
<script src="~/js/FileExtraction.js" asp-append-version="true"></script>
<script src="~/js/site.js"></script>
<link href="~/css/site.css" rel="stylesheet" />

@*confirm.js files*@
<link href="~/lib/jquery-confirm/jquery-confirm.min.css" rel="stylesheet" />
<script src="~/lib/jquery-confirm/jquery-confirm.min.js"></script>
@*toast.js files*@
<link href="~/lib/jquery-toast-plugin/jquery.toast.min.css" rel="stylesheet" />
<script src="~/lib/jquery-toast-plugin/jquery.toast.min.js"></script>
<section class="content-header">
    <h1>
        Medium risk within 3 months customers U3 Report
        <small>presents all medium-risk customers need to be update their risk within 3 months with the related information below</small>
        <br />
    </h1>
</section>


<div id="grid"></div>
@section Scripts{


    <script src="~/js/Dynamic.js" id="script" defer type="module" data-urlkey="ArtKycMediumThreeMonthU3" data-handlerkey="ArtKycMediumThreeMonthU3"></script>
}