@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section KendoScripts{
    <partial name="_GridScripts" />
}



<section class="content-header">
    <h1>
        ART Group Audit Report
        <small class="h6">This report Presents all events of groups with the related information as below</small>
        <br />
    </h1>
</section>

<m-grid id="AuditGroups" data-urlkey="AuditGroups" data-handlerkey="AuditGroups"></m-grid>

@section Scripts{
    <script type="module" defer src="~/js/Components/Grid/Grid.js"></script>
}


