@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<button class="btn btn-primary" id="ExportAll">Export All</button>
<smart-tabs style="width:100%;height:800px" tab-position="top" >
    <smart-tab-item label="Tab 1" selected>
        <m-grid id="Test1" data-urlkey="Grid" data-handlerkey="Grid"></m-grid>
    </smart-tab-item>
    <smart-tab-item label="Tab 2">
        <m-grid id="Test2" data-urlkey="Grid" data-handlerkey="Grid"></m-grid>
    </smart-tab-item>
    <smart-tab-item label="Tab 3">
        <m-grid id="Test3" data-urlkey="Grid" data-handlerkey="Grid"></m-grid>
    </smart-tab-item>
</smart-tabs>

@*<m-grid id="Test1" data-urlkey="Grid" data-handlerkey="Grid"></m-grid>*@
@section KendoScripts{
<partial name="_GridScripts" />
}

@section scripts{
    <script src="~/lib/smartcomponents/source/modules/smart.progressbar.js"></script>
    <script src="~/js/components/textinput/textinput.js"></script>
    <script src="~/lib/smartcomponents/source/modules/smart.tabs.js"></script>
    <script type="module" src="~/js/components/grid/grid.js"></script>
    <script type="module" src="~/js/exportall.js"></script>

}