@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section KendoScripts{
    <partial name="_GridScripts" />
}
<section class="content-header">
    <h1>
        DG AML Cases Transactions Detail
        <small></small>
        <br />
    </h1>
</section>


<m-grid id="DgamlCasesTransactionsDetail" data-urlkey="DgamlCasesTransactionsDetail" data-handlerkey="DgamlCasesTransactionsDetail"></m-grid>

@section Scripts{
    <script type="module" defer src="~/js/components/grid/grid.js"></script>
}
