@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section KendoScripts{
    <partial name="_QueryBuilderGridScripts" />
}
<section class="content-header">
    <h1>
        Alert Age Summary Report
        <small> </small>
        <br />
    </h1>
</section>


<art-filters-control id="AlertAgeSummary" data-key="AlertAgeSummary"></art-filters-control>
<m-grid id="AlertAgeSummary" data-urlkey="AlertAgeSummary" data-handlerkey="AlertAgeSummary" data-stored="AlertAgeSummary"></m-grid>

@section Scripts {


    <script src="~/js/Components/ARTQBuilder/QueryBuilder.js" defer type="module"></script>

    <script type="module" defer src="~/js/Components/Grid/Grid.js"></script>
}