@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section KendoScripts{
    <partial name="_GridScripts" />
}
@*confirm.js files*@
<link href="~/lib/jquery-confirm/jquery-confirm.min.css" rel="stylesheet" />
<script src="~/lib/jquery-confirm/jquery-confirm.min.js"></script>
@*toast.js files*@
<link href="~/lib/jquery-toast-plugin/jquery.toast.min.css" rel="stylesheet" />
<script src="~/lib/jquery-toast-plugin/jquery.toast.min.js"></script>
<section class="content-header">
    <h1>
        Audit For Individuals Report
        <small>Presents all individual customers with the related information as below</small>
        <br />
    </h1>
</section>

<m-grid id="ArtAuditIndividuals" data-urlkey="ArtAuditIndividuals" data-handlerkey="ArtAuditIndividuals"></m-grid>

@*<div id="grid"></div>*@
@section Scripts{
    <script type="module" defer src="~/js/components/grid/grid.js"></script>


    @*<script src="~/js/Dynamic.js" id="script" defer type="module" data-urlkey="ArtAuditIndividuals" data-handlerkey="ArtAuditIndividuals"></script>*@
}