@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section KendoScripts{
    <partial name="_GridScripts" />
}

<section class="content-header">
    <h1>
        Alert Details
        <small>Presents the alerts details</small>
        <br />
    </h1>
</section>

<m-grid id="AlertDetails" data-urlkey="AlertDetails" data-handlerkey="AlertDetails" data-prop="AlertId"></m-grid>

@*<div id="grid"></div>*@
@section Scripts{
    <script type="module" defer src="~/js/components/grid/grid.js"></script>


    @*<script src="~/js/Dynamic.js" id="script" defer type="module" data-prop="AlertId" data-urlkey="AlertDetails" data-handlerkey="AlertDetails"></script>*@
}
