@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section KendoScripts{
    <partial name="_GridScripts" />
}



<section class="content-header">
    <h1>
        User Last Login Per Day Report
        <small class="h6">This Report presents each user with last login dateime for each day</small>
        <br />
    </h1>
</section>

<m-grid id="LastLoginPerDay" data-urlkey="LastLoginPerDay" data-handlerkey="LastLoginPerDay"></m-grid>

@section Scripts{
    <script type="module" defer src="~/js/Components/Grid/Grid.js"></script>
}



