@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section KendoScripts{
    <partial name="_GridScripts" />
}



<section class="content-header">
    <h1>
        High risk within 3 months customers Report
        <small class="h6">presents all high-risk customers need to be update their KYCs within 3 months with the related information below</small>
        <br />
    </h1>
</section>

<m-grid id="ArtKycHighThreeMonth" data-urlkey="ArtKycHighThreeMonth" data-handlerkey="ArtKycHighThreeMonth"></m-grid>

@section Scripts{
    <script type="module" defer src="~/js/components/grid/grid.js"></script>
}
