html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
    margin-right:50px;
}

body {
    margin-bottom: 60px;
}

.navbar{
    display:block;
}
.load {
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#type-BarChart, #alert-status-BarChart, #alertsDateChart div[style*="height: 100%; width: 100%;"], #alertsDateChart div[style*="height: 100%; width: 100%;"], #dateChart div[style*="height: 100%; width: 100%;"]{
    height: 600px !important;
}
#alertsDateChart div[style*="height: 100%; width: 100%;"]{
    background-color:red;
}
td[role="gridcell"] {
    white-space: pre !important;
}
/*
.k-list-scroller {
    height: auto !important;
    max-height: 150px !important;
}
*/

.k-list-container.k-popup.k-group.k-reset {
    height: auto !important;
    max-height: 150px !important;
}
.bootstrap-select .dropdown-menu {
    min-width: 200px !important;
}


#filters_rule_2 .rule-operator-container span {
    width: 35px;
    display: inline-block;
}



#filters_rule_3 .rule-operator-container span {
    width: 35px;
    display: inline-block;
}