@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section KendoScripts{
    <partial name="_GridScripts" />
}

<section class="content-header">
    <h1>
        SAS NonStaff SLA Closed Level2 Report
        <small>
            Presents all AML closed alerts which exceeded the threshold for closing alerts or add to case for non-staff customers
        </small>
        <br />
    </h1>
</section>

<m-grid id="SlaLevel2NonStaffViolatedWithAction" data-urlkey="SlaLevel2NonStaffViolatedWithAction" data-handlerkey="SlaLevel2NonStaffViolatedWithAction"></m-grid>

@section Scripts{
    <script type="module" defer src="~/js/Components/Grid/Grid.js"></script>

}
