﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section KendoScripts{
    <partial name="_GridScripts" />
    <script src="~/lib/jquery-toast-plugin/jquery.toast.min.js"></script>
    <script src="~/lib/jquery-confirm/jquery-confirm.min.js"></script>
}



<section class="content-header">
    <h1>
        Aml Analysis Report
        <small class="h6"></small>
        <br />
    </h1>
</section>
<div class="modal fade" id="closeModal" tabindex="-1" role="dialog" aria-labelledby="closeModal" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:60%">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Closeing Alerted Entites...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="ModelBodyHTML">
                <div class="row">

                    <div id="customerDetails" class="col-12 panel panel-primary customer-details medium-capped-width">
                        <div class="panel-body">
                            <div class="text-primary aml-panel-title text-bold">
                                Do You Want to close this alrted entities ?
                            </div>
                            <div class="labelValueRows">
                                <div class="labelValueRow">


                                    <div id="selcted-div"></div>

                                </div>
                            </div>

                        </div>
                    </div>


                </div>
                <div class="row">

                    <div id="closeDrsc" class="col-12 panel panel-primary customer-details medium-capped-width">
                        <div class="panel-body">
                            <div class="text-primary aml-panel-title text-bold">
                                Desc
                            </div>


                            <select id="close-desc" class="custom-select desc form-control col-md-6" size="4">
                                <option label="False Positive" value="FPO" selected="selected">False Positive</option>
                                <option label="Money Laundering - Investigated" value="MLI">Money Laundering - Investigated</option>
                                <option label="Money Laundering - Report Filed" value="MLS">Money Laundering - Report Filed</option>
                                <option label="Other" value="OTH">Other</option>
                            </select>



                        </div>
                    </div>


                </div>


            </div>
            <label>Add Comment : </label>
            <input type="text" id="comment-box-close" class="form-control" placeholder="Enter comment">
            <span id="comment-span" class="text-danger" hidden></span>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="submit" id="closeBtn" class="btn btn-primary">Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="closeAllModal" tabindex="-1" role="dialog" aria-labelledby="closeAllModal" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:60%">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Routing Alerted Entites...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="ModelBodyHTML">
                <div class="row">
                    <div id="customerDetails" class="col-12 panel panel-primary customer-details medium-capped-width">
                        <div class="panel-body">
                            <div class="text-primary aml-panel-title text-bold">
                                Do You Want to Close this alerted entities ?
                            </div>
                            <div class="labelValueRows">
                                <div class="labelValueRow">
                                    <div id="closeAll-div"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <label>Add Comment</label>
            <input type="text" id="comment-box-closeAll" class="form-control" placeholder="Enter comment">
            <span id="comment-span-close-all" class="text-danger" hidden></span>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button id="Close-All" class="btn btn-success">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="RouteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:60%">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Routing Alerted Entites...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="ModelBodyHTML">
                <div class="row">
                    <div id="customerDetails" class="col-12 panel panel-primary customer-details medium-capped-width">
                        <div class="panel-body">
                            <div class="text-primary aml-panel-title text-bold">
                                Do You Want to Route this alrted entities ?
                            </div>
                            <div class="labelValueRows">
                                <div class="labelValueRow">
                                    <div id="selcted-Route-div"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <select id="queueSelect" style="width:100%" class="col-lg-6 col-md-6 col-sm-12 text-infol selectpicker" data-live-search="true">
                        <option value="">Select A Queue</option>
                    </select>
                    <select id="userSelect" style="width:100%" class="col-lg-6 col-md-6 col-sm-12 text-infol selectpicker" data-live-search="true">
                        <option value="">Select An User</option>
                    </select>
                </div>
            </div>
            <label>Add Comment</label>
            <input type="text" id="comment-box-route" class="form-control" placeholder="Enter comment">
            <span id="comment-span-route" class="text-danger" hidden></span>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button id="modalRoutBtn" class="btn btn-success ">Ok</button>
            </div>
        </div>
    </div>
</div>

<m-grid id="Aml_Analysis" data-urlkey="Aml_Analysis" data-handlerkey="Aml_Analysis"></m-grid>

@section Scripts{
@*    <script src="~/js/Components/MultiSelect/Select.js"></script>
*@    <script type="module" defer src="~/js/Components/Grid/Grid.js"></script>
}