@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section KendoScripts{
    <partial name="_GridScripts" />
}

<section class="content-header">
    <h1>
        List SAS Applications Report
        <small>Presents all SAS applications with the related information</small>
        <br />
    </h1>
</section>

<m-grid id="SASAuditListApp" data-urlkey="SASAuditListApp" data-handlerkey="SASAuditListApp"></m-grid>

@section Scripts{
    <script type="module" defer src="~/js/components/grid/grid.js"></script>

}
