@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section KendoScripts{
    <partial name="_GridScripts" />
}


<section class="content-header">
    <h1>
        Alerted Entities Report
        <small>This report presents all sanction cases with the related information on case level as below</small>
    </h1>
</section>

<m-grid id="AlertedEntities" data-urlkey="AlertedEntities" data-handlerkey="AlertedEntities"></m-grid>

@*<div id="grid"></div>*@
@section Scripts{
    <script type="module" defer src="~/js/Components/Grid/Grid.js"></script>

    @*<script src="~/js/Dynamic.js" type="module" defer id="script" data-urlkey="AlertedEntities"></script>*@
}


