@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section KendoScripts{
    <partial name="_GridScripts" />
}
<section class="content-header">
    <h1>
         E-Wallet Repeated Transaction
        <small>Presents all E-Wallet transactions (trans_type_key in (10001, 10002, 10003, 10004, 10005, 10006, 10007, 10008, 10008, 10009, 10010, 795)) for only staff with the related information as below</small>
        <br />
    </h1>
</section>


<m-grid id="EWalletRepeatedTransaction" data-urlkey="EWalletRepeatedTransaction" data-handlerkey="EWalletRepeatedTransaction"></m-grid>

@section Scripts{
    <script type="module" defer src="~/js/components/grid/grid.js"></script>
}
