@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section KendoScripts{
    <partial name="_GridScripts" />
}
<section class="content-header">
    <h1>
         E-Wallet Repeated Transaction
        <small>Presents all E-Wallet transactions (TRANS_TYPE_CD in (795, FW1, FW2, FW3, FW4, FW5, FW6, FW7, FW8, FW9, FWX))  for only staff with the related information as below</small>
        <br />
    </h1>
</section>


<m-grid id="EWalletRepeatedTransaction" data-urlkey="EWalletRepeatedTransaction" data-handlerkey="EWalletRepeatedTransaction"></m-grid>

@section Scripts{
    <script type="module" defer src="~/js/components/grid/grid.js"></script>
}
