@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section KendoScripts{
    <partial name="_GridScripts" />
}
<section class="content-header">
    <h1>
         All Transactions With Reason
        <small>presents all transactions with reasons for only staff and only for 6 months back (i.e. from system date to 6 months back) with the related information as below</small>
        <br />
    </h1>
</section>


<m-grid id="AllTransactionsWithReason" data-urlkey="AllTransactionsWithReason" data-handlerkey="AllTransactionsWithReason"></m-grid>

@section Scripts{
    <script>
        var currentDgUserID = 0;

    </script>
    <script type="module" defer src="~/js/components/grid/grid.js"></script>
}
