
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section KendoScripts{
    <partial name="_QueryBuilderGridScripts" />
}
<section class="content-header">
    <h1>
        User Performance Per Action Report
        <small> </small>
        <br />
    </h1>
</section>


<art-filters-control id="UserPerformPerAction" data-key="UserPerformPerAction"></art-filters-control>
<m-grid id="UserPerformPerAction" data-urlkey="UserPerformPerAction" data-handlerkey="UserPerformPerAction" data-stored="UserPerformPerAction"></m-grid>


@section Scripts {


    <script src="~/js/Components/ARTQBuilder/QueryBuilder.js" defer type="module"></script>

    <script type="module" defer src="~/js/Components/Grid/Grid.js"></script>


}
