@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section KendoScripts{
    <partial name="_GridScripts" />
}

<section class="content-header">
    <h1>
        SAS NonStaff SLA Closed Level1 Report
        <small>
            Presents all AML closed alerts which exceeded the threshold for first routing alerts to level2 for non-staff customers
        </small>
        <br />
    </h1>
</section>

<m-grid id="SlaLevel1NonStaffViolatedWithAction" data-urlkey="SlaLevel1NonStaffViolatedWithAction" data-handlerkey="SlaLevel1NonStaffViolatedWithAction"></m-grid>

@section Scripts{
    <script type="module" defer src="~/js/Components/Grid/Grid.js"></script>


}
