@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section KendoScripts{
    <partial name="_GridScripts" />
}

<section class="content-header">
    <h1>
        High risk expired customers Report
        <small>presents all high-risk customers need to be update their expired KYCs with the related information below</small>
        <br />
    </h1>
</section>
<m-grid id="ArtKycHighExpired" data-urlkey="ArtKycHighExpired" data-handlerkey="ArtKycHighExpired"></m-grid>

@*<div id="grid"></div>*@
@section Scripts{
    <script type="module" defer src="~/js/Components/Grid/Grid.js"></script>


    @*<script src="~/js/Dynamic.js" id="script" defer type="module" data-urlkey="ArtKycHighExpired"></script>*@
}
