@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
<link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.standalone.css" rel="stylesheet" />
<link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" />
<link href="~/lib/jquery-querybuilder/css/query-builder.dark.css" rel="stylesheet" />
<link href="~/lib/jquery-querybuilder/css/query-builder.dark.min.css" rel="stylesheet" />
<link href="~/lib/Plugins/Kendo/kendo.default-v2.min.css" rel="stylesheet" />
<link href="~/lib/jquery-toast-plugin/jquery.toast.css" rel="stylesheet" />
<link href="~/lib/jquery-toast-plugin/jquery.toast.min.css" rel="stylesheet" />
<link href="~/lib/jquery-confirm/jquery-confirm.min.css" rel="stylesheet" />
<script src="~/lib/Plugins/Kendo/jquery.min.js"></script>
<script src="~/lib/Plugins/Kendo/jszip.js"></script>
<script src="~/lib/Plugins/Kendo/jszip.min.js"></script>
<script src="~/lib/Plugins/Kendo/kendo.all.min.js"></script>
<script src="~/lib/jquery-toast-plugin/jquery.toast.min.js"></script>
<script src="~/lib/jquery-confirm/jquery-confirm.min.js"></script>
<script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="~/lib/jquery-querybuilder/js/query-builder.min.js"></script>
<script src="~/lib/jquery-querybuilder/js/query-builder.standalone.min.js"></script>
<script src="~/lib/jquery-querybuilder/js/query-builder.standalone.js"></script>
<script src="~/lib/jquery-querybuilder/js/query-builder.js"></script>

<section class="content-header">
    <h1>
       Non-Staff GOAML Per Product Report
        <small> </small>
        <br />
    </h1>
</section>


<filters-control data-key="NonStaffGOAMLPerProduct"></filters-control>
<div id="grid"></div>


@section Scripts {


    <script src="~/js/constructfilters.js" defer type="module"></script>
    <script src="~/js/dynamic.js" id="script" defer type="module" data-stored="true" data-urlkey="NonStaffGOAMLPerProduct" data-handlerkey="NonStaffGOAMLPerProduct"></script>
}
