@using ART_PACKAGE.Areas.Identity.Data;
@using ART_PACKAGE.Helpers.HTMLHelpers;
@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/customreport.css" rel="stylesheet" />
<h2>Customize your report</h2>


<div class="container">
    <div id="errors" hidden class="alert alert-danger alert-dismissible" style="padding:2%" role="alert">
         <button type="button" style="margin-right:2%;" id="closeEroors" onclick="hideErrors()" class="close"><span aria-hidden="true">&times;</span></button>
    </div>
    <form id="CustomReportForm"> 
        <div class="row">
        <h4 class="col-md-10">Select the table and columns you want.</h4>

        <div class="col-md-2">
                <button type="submit" class="btn btn-primary ">Save Report</button>
            </div>
            </div>
            <div class="row"style="margin-top:1%">
             <div class="form-group col-md-4">
                <select id="Shcema" name="Shecma" style="width:100%"  asp-items="Html.GetEnumValuesWithDisplayName<DbSchema>()" class="text-infol selectpicker" data-live-search="true">
                    <option value="-1">Select A Schema</option>
                </select>
                    
            </div>
            <div class="form-group col-md-4">
                    <select id="TableName" name="TableName" style="width:100%" class="text-infol selectpicker" data-live-search="true">
                    </select>
                    
            </div>

             <div class="form-group col-md-4">
                    <select id="ColumnNames" name="ColumnNames" style="width:100%"  class=" text-infol selectpicker" data-live-search="true" multiple>
                        <option selected value="" >Select some columns</option>
                    </select>
            </div>
        </div>
        <div class="row" style="margin-top:2%"> 
            <input type="text" placeholder="Report Title" class="form-control col-md-10" id="title"/>
        </div>
        <div class="row"style="margin-top:2%" >
            <textarea class="form-control col-md-12" rows="4" id="desc" placeholder="Report Description"></textarea>
        </div>
        <category-tree></category-tree>

         <h4>Add the charts you want.</h4>
        <div class="row">
           
            <div class="col-md-10"></div>
            <div class="col-md-2">
               <button  id="openAddChart" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#chartCollapse" aria-expanded="false" aria-controls="chartCollapse">
                    Add a Chart
               </button>
            </div>  
               
                <div class="collapse row" style="margin-top:4%" id="chartCollapse">
                  <div class="card card-body text-center">
                      <div class=" col-xs-12">
                          <input type="text" id="chartTitle" name="chartTitle" placeholder="Chart Title" class="form-control" />
                      </div>
                      <div class="col-xs-6 ">
                     <select id="chartType" name="chartType" asp-items="Html.GetEnumSelectList<ChartType>()" class=" text-infol selectpicker" data-live-search="true">
                        <option selected value="" >Select a Type</option>
                      </select> 
                      </div>
                       <div class="col-xs-6">
                     <select id="chartColumn" name="chartColumn"  class=" text-infol selectpicker" data-live-search="true">
                        <option selected value="" >Select a Column</option>
                      </select> 
                      </div>
                       <button id="addChart" class="btn btn-primary col-md-1" type="button" data-toggle="collapse" data-target="#chartCollapse" aria-expanded="false" aria-controls="chartCollapse">
                            <i class="glyphicon glyphicon-plus"></i>
                       </button>
                   
                   </div>
                   
                      
                </div>

                
        </div>
@*        <div>
            <m-select id="ColumnNamesss" data-title="Column Names" data-live-search="true" data-multiple="true" style="width:100%"></m-select>

        </div>

        <script>
            // Example usage to set options dynamically from a list:
            var columnSelect = document.getElementById("ColumnNamesss");
            columnSelect.setOptions([
                { text: "Column 1", value: "column1" },
                { text: "Column 2", value: "column2" },
                { text: "Column 3", value: "column3" }
            ]);

            // Example usage to fetch options from a URL:
        </script>
        <script src="~/js/Components/MultiSelect/Select.js"></script>

        <div id="dynamic-table-container">
            <!-- Bootstrap Table with Centered Content and m-select Columns -->
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">#</th>
                        <th scope="col" class="text-center">First</th>
                        <th scope="col" class="text-center">Last</th>
                        <th scope="col" class="text-center">Handle</th>
                        <th scope="col" class="text-center">Select 1</th>
                        <th scope="col" class="text-center">Select 2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row" class="text-center">1</th>
                        <td class="text-center">Mark</td>
                        <td class="text-center">Otto</td>
                        <td class="text-center">mdo</td>
                        <!-- m-select columns -->
                        <td class="text-center">
                            <m-select id="select-1-1" data-title="Choose Option" data-multiple="true" data-searchable="true">
                                <option value="opt1">Option 1</option>
                                <option value="opt2">Option 2</option>
                                <option value="opt3">Option 3</option>
                            </m-select>
                        </td>
                        <td class="text-center">
                            <m-select id="select-2-1" data-title="Select 2">
                                <option value="opt1">Option 1</option>
                                <option value="opt2">Option 2</option>
                                <option value="opt3">Option 3</option>
                            </m-select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-center">2</th>
                        <td class="text-center">Jacob</td>
                        <td class="text-center">Thornton</td>
                        <td class="text-center">fat</td>
                        <!-- m-select columns -->
                        <td class="text-center">
                            <m-select id="select-1-2" data-title="Select 1">
                                <option value="opt1">Option 1</option>
                                <option value="opt2">Option 2</option>
                                <option value="opt3">Option 3</option>
                            </m-select>
                        </td>
                        <td class="text-center">
                            <m-select id="select-2-2" data-title="Select 2">
                                <option value="opt1">Option 1</option>
                                <option value="opt2">Option 2</option>
                                <option value="opt3">Option 3</option>
                            </m-select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="text-center">3</th>
                        <td class="text-center">Larry</td>
                        <td class="text-center">the Bird</td>
                        <td class="text-center">twitter</td>
                        <!-- m-select columns -->
                        <td class="text-center">
                            <m-select id="select-1-3" data-title="Select 1">
                                <option value="opt1">Option 1</option>
                                <option value="opt2">Option 2</option>
                                <option value="opt3">Option 3</option>
                            </m-select>
                        </td>
                        <td class="text-center">
                            <m-select id="select-2-3" data-title="Select 2">
                                <option value="opt1">Option 1</option>
                                <option value="opt2">Option 2</option>
                                <option value="opt3">Option 3</option>
                            </m-select>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>*@
        <div id="addedCharts" class="row">

        </div>



    </form>


</div>

<script>
    var s = document.getElementById("select-1-1");

    // Now we can call setOptions on the custom <m-select> element
    //s.setOptions([
    //    { text: "text1", value: "value1" },
    //    { text: "text2", value: "value2" },
    //    { text: "text3", value: "value3" },
    //    { text: "text4", value: "value4" },
    //    { text: "text5", value: "value5" },
    //]);
</script>
@section scripts {
    <script src="~/js/Components/CategoryTree/Tree.js"></script>
    <script src="~/js/Components/MultiSelect/Select.js"></script>

    <script src="~/js/ReportScripts.js" ></script>
}