@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@using ART_PACKAGE.Areas.Identity.Data;
@model List<ArtSavedReportsChart>
@{
    ViewData["Title"] = "ShowReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section KendoScripts{
    <partial name="_GridScripts" />
}
<m-grid id="customreport" data-custom data-reportid="@ViewBag.id"></m-grid>
<div id="chartContainer" class="row"></div>
@section scripts {
    <script src="~/lib/Plugins/amcharts_4.10.18/amcharts4/core.js"></script>
    <script src="~/lib/Plugins/amcharts_4.10.18/amcharts4/charts.js"></script>
    <script src="~/lib/Plugins/amcharts_4.10.18/amcharts4/themes/animated.js"></script>
    <script type="module" defer src="~/js/Components/Grid/Grid.js"></script>
}
