@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section KendoScripts{
    <partial name="_QueryBuilderGridScripts" />
}
<section class="content-header">
    <h1>
        User Performance Per Action User Report
        <small> Presents all User Performance Per Action User details </small>
        <br />
    </h1>
</section>

<art-filters-control id="DGAMLUserPerformancePerActionUser" data-key="DGAMLUserPerformancePerActionUser"></art-filters-control>
<m-grid id="DGAMLUserPerformancePerActionUser" data-urlkey="DGAMLUserPerformancePerActionUser" data-handlerkey="DGAMLUserPerformancePerActionUser" data-stored="DGAMLUserPerformancePerActionUser"></m-grid>

<script>

</script>
@section Scripts {


    <script src="~/js/Components/ARTQBuilder/QueryBuilder.js" defer type="module"></script>

    <script type="module" defer src="~/js/Components/Grid/Grid.js"></script>

    @*    <script src="~/js/Dynamic.js" id="script" defer type="module" data-stored="true" data-urlkey="UserPerformancePerActionUser" data-handlerkey="UserPerformancePerActionUser"></script>
*@
}