
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section KendoScripts{
    <partial name="_GridScripts" />
}
<section class="content-header mb-5">
    <h1>
        Amortization Report
        <small>This report produces all postings posted to an account by value date</small>
    </h1>
</section>
<m-grid id="Amortization" data-urlkey="Amortization" data-handlerkey="Amortization"></m-grid>

@*<div id="grid"></div>*@
@section Scripts{
    <script type="module" defer src="~/js/components/grid/grid.js"></script>
  
    
  @*  <script src="~/js/Dynamic.js" type="module" defer id="script" data-urlkey="Amortization"></script>*@
}