@inject IConfiguration _config;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var modules = _config.GetSection("Modules")
                .Get<List<string>>();
}
<section class="content-header">
    <h1>
        Licesnes
        <small>All App Licenses</small>
        <br />
    </h1>
</section>
<div class="modal fade" id="addreplicModal" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" >
    <form id="licForm">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="${this.id}-modalLabel">Upload License</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
            
                <div class="row">
                    <div id="uploadform" class="col-12 panel panel-primary customer-details medium-capped-width">
                        <div class="panel-body">
                   
                            <div>
                                <m-select id="licModule" data-title="Module" style="width:100%">
                                    @foreach (var m in modules)
                                    {
                                        <option value="@m">@m</option>
                                    }
                                </m-select>
                            </div>
                            <div>
                                <smart-file-upload id="fileupload" hide-footer accept='.dg' drop-zone style="width:100%"></smart-file-upload>
                            </div>
                        </div>
                    </div>
                </div>
           
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button id="uploadlic" type="submit" class="btn btn-primary">Ok</button> 
        </div>
    </div>
     </form>
</div>
</div>


@* <div class="modal fade" id="addreplicModal" tabindex="-1" role="dialog" aria-labelledby="addreplicModal" aria-hidden="true"> *@
@*     <div class="modal-dialog" role="document" style="width:60%"> *@
@*             <div class="modal-content"> *@
@*                 <div class="modal-header"> *@
@*                     <h5 class="modal-title" id="exampleModalLabel">Upload license...</h5> *@
@*                     <button type="button" class="close" data-dismiss="modal" aria-label="Close"> *@
@*                         <span aria-hidden="true">&times;</span> *@
@*                     </button> *@
@*                 </div> *@
@*                 <div class="modal-body" id="ModelBodyHTML"> *@
@*                     <form id="licForm"> *@
@*                         <div class="row"> *@
@*                         <div id="uploadform" class="col-12 panel panel-primary customer-details medium-capped-width"> *@
@*                             <div class="panel-body"> *@
@* *@
@*                                 <div> *@
@*                                     <m-select id="licModule" data-title="Module" style="width:100%"> *@
@*                                     </m-select> *@
@*                                 </div> *@
@*                                 <div> *@
@*                                     <smart-file-upload accept='.dg' drop-zone style="width:100%"></smart-file-upload> *@
@*                                 </div> *@
@*                             </div> *@
@*                         </div> *@
@*                     </div> *@
@*                     </form> *@
@*                 </div> *@
@*                 <div class="modal-footer"> *@
@*                     <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> *@
@*                     <button id="uploadlic" type="submit" class="btn btn-primary">Ok</button> *@
@*                 </div> *@
@*       *@
@*             </div> *@
@*       *@
@*     </div> *@
@* </div> *@

<m-grid id="License" data-urlkey="License" data-handlerkey="License"></m-grid>
@section KendoScripts{
    <partial name="_GridScripts" />
}

@section Scripts{

    <script src="lib/SmartComponents/source/modules/smart.fileupload.js"></script>
    <script src="js/Components/Grid/Grid.js" type="module" defer="defer"></script>
  
}
