@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section KendoScripts{
    <partial name="_GridScripts" />
}
<section class="content-header">
    <h1>
        CRP Cases Details
        <small></small>
        <br />
    </h1>
</section>


<m-grid id="CRPCases" data-urlkey="CRPCases" data-handlerkey="CRPCases"></m-grid>

@*<div id="grid"></div>*@
@section Scripts{
    <script type="module" defer src="~/js/Components/Grid/Grid.js"></script>

   @* <script src="~/js/Dynamic.js" id="script" defer type="module" data-urlkey="CRPCases" data-handlerkey="CRPCases"></script>*@
}
