@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section KendoScripts{
    <partial name="_GridScripts" />
}



<section class="content-header">
    <h1>
        ART Role Audit Report
        <small class="h6">This report Presents all events of roles with the related information as below</small>
        <br />
    </h1>
</section>

<m-grid id="AuditRoles" data-urlkey="AuditRoles" data-handlerkey="AuditRoles"></m-grid>

@section Scripts{
    <script type="module" defer src="~/js/components/grid/grid.js"></script>
}



