@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section KendoScripts{
    <partial name="_GridScripts" />
}
<section class="content-header">
    <h1>
        Amortization Report
        <small>This report produces all transactions which have not yet expired and which have periodic charges either accruing or amortising within a period that you can specify</small>
    </h1>
</section>
<m-grid id="PeriodicCHRGs" data-urlkey="PeriodicCHRGs" data-handlerkey="PeriodicCHRGs"></m-grid>

@*<div id="grid"></div>*@
@section Scripts{
    <script type="module" defer src="~/js/components/grid/grid.js"></script>

    @*<script src="~/js/Dynamic.js" type="module" defer id="script" data-urlkey="PeriodicCHRGs"></script>*@
}