@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section KendoScripts{
    <partial name="_GridScripts" />
}

<section class="content-header">
    <h1>
        SAS Staff SLA Level3 Report
        <small>
            Presents all AML alerts which exceeded the threshold for closing cases or alerts for staff
        </small>
        <br />
    </h1>
</section>

<m-grid id="SlaLevel3StaffViolatedWithoutAction" data-urlkey="SlaLevel3StaffViolatedWithoutAction" data-handlerkey="SlaLevel3StaffViolatedWithoutAction"></m-grid>

@section Scripts{
    <script type="module" defer src="~/js/Components/Grid/Grid.js"></script>


}
