@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section KendoScripts{
    <partial name="_GridScripts" />
}



<section class="content-header">
    <h1>
        OS Transactions Awaiti Apprl Report
        <small class="h6">This report produces information transactions awaiting credit approval only with the related master records and the related events have been initiated with the related status</small>
        <br />
    </h1>
</section>

<m-grid id="OSTransactionsAwaitiApprl" data-urlkey="OSTransactionsAwaitiApprl" data-handlerkey="OSTransactionsAwaitiApprl"></m-grid>

@section Scripts{
    <script type="module" defer src="~/js/components/grid/grid.js"></script>
}
