@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section KendoScripts{
    <partial name="_GridScripts" />
}



<section class="content-header">
    <h1>
        Our Charges by Master
        <small class="h6">This report produces total of paid, claimed and outstanding charges for the master record</small>
        <br />
    </h1>
</section>

<m-grid id="OurChargesByMaster" data-urlkey="OurChargesByMaster" data-handlerkey="OurChargesByMaster" data-defaultGroup="@ViewBag.defaultGroup"></m-grid>

@section Scripts{
    <script type="module" defer src="~/js/components/grid/grid.js"></script>
}
