@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section KendoScripts{
    <partial name="_GridScripts" />
}



<section class="content-header">
    <h1>
        Alert Details
        <small class="h6">Presents the alerts details</small>
        <br />
    </h1>
</section>

<m-grid id="alertd" data-urlkey="test" data-handlerkey="test"></m-grid>

@section Scripts{
    <script type="module" defer src="~/js/components/grid/grid.js"></script>
}
