@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section KendoScripts{
    <partial name="_GridScripts" />
}
<section class="content-header">
    <h1>
        GOAML Reports Details
        <small>Presents details about the GOAML reports</small>
        <br />
    </h1>
</section>
<m-grid id="GOAMLReportsDetails" data-urlkey="GOAMLReportsDetails" data-handlerkey="GOAMLReportsDetails"></m-grid>

@*<div id="grid"></div>*@
@section Scripts{
    <script type="module" defer src="~/js/components/grid/grid.js"></script>


    @*<script src="~/js/Dynamic.js" id="script" defer type="module" data-urlkey="GOAMLReportsDetails"></script>*@
}