@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section KendoScripts{
    <partial name="_GridScripts" />
}

<section class="content-header">
    <h1>
        SLA Violated Cases Report
        <small></small>
        <br />
    </h1>
</section>

<m-grid id="SlaEcmCasesViolated" data-urlkey="SlaEcmCasesViolated" data-handlerkey="SlaEcmCasesViolated"></m-grid>

@section Scripts{
    <script type="module" defer src="~/js/Components/Grid/Grid.js"></script>


}
