@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section KendoScripts{
    <partial name="_GridScripts" />
}



<section class="content-header">
    <h1>
        List Of Roles Report
        <small class="h6">This Report presents all roles with the related information as below</small>
        <br />
    </h1>
</section>

<m-grid id="ListOfRole" data-urlkey="ListOfRole" data-handlerkey="ListOfRole"></m-grid>

@section Scripts{
    <script type="module" defer src="~/js/Components/Grid/Grid.js"></script>
}









