@using Data.Constants.HomeType;
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@{
    ViewData["Title"] = "Home Page";
    var homeType = Configuration.GetValue<string>("homeType").ToUpper();
    var modules = Configuration.GetSection("Modules").Get<string[]>();
}





@if (modules is null)
{
    <h1> You Dont Have Any Modules in the app </h1>
}
else
{
    @if (!modules.Contains("SASAML") && !modules.Contains("ECM") && !modules.Contains("DGAML"))
    {
        <h1> You Dont Have ECM OR SASAML Modules in the app </h1>
    }
    else
    {
        @section Scripts {

    <script src="~/js/components/multiselect/select.js"></script>
    <script src="~/lib/Plugins/amcharts_4.10.18/amcharts4/core.js"></script>
    <script src="~/lib/Plugins/amcharts_4.10.18/amcharts4/charts.js"></script>
    <script src="~/lib/Plugins/amcharts_4.10.18/amcharts4/themes/animated.js"></script>
    <script src="~/lib/Plugins/amcharts_4.10.18/amcharts4/themes/kelly.js"></script>
    <script type="module" src="~/js/Components/Charts/Charts.js"></script>

    @if (homeType.Contains(HomeType.AML) && (modules.Contains("SASAML") || modules.Contains("DGAML")))
    {
        <script src="~/js/amlhome.js" type="module" defer></script>
    }

    @if (homeType.Contains(HomeType.SANCTION) && modules.Contains("ECM"))
    {
        <script src="~/js/homechartsjs.js" type="module" defer></script>

    }
    @if (homeType.Contains(HomeType.GOAML) && modules.Contains("GOAML"))
    {
        <script src="~/js/GoAmlHomeChartsjs.js" type="module" defer></script>

    }


}

        @if (homeType.Contains(HomeType.AML) && (modules.Contains("SASAML") || modules.Contains("DGAML")))
        {

            <section class="content-header">

                <h1>
                    AML Dashboard
                </h1>

            </section>

            <div class="row" style="margin-top:2%">
                <m-piewithbar-chart id="alertsDateChart" data-title="Alerts Per Year & Month" data-barcategory="month" data-donutcategory="year" data-barvalue="value" data-donutvalue="value" data-bardatakey="monthData" data-exportValueName="Number Of Alerts" style="height:600px;display:block !important;"></m-piewithbar-chart>
                <m-bar-chart id="alert-status" class="col-12" data-title="Alerts Per Status" data-category="alertStatus" data-value="alertsCount" style="height:600px;display:block !important;"></m-bar-chart>
            </div>


        }

        @if (homeType.Contains(HomeType.SANCTION) && modules.Contains("ECM"))
        {
            <section class="content-header">

                <h1>
                    Sanction Dashboard

                </h1>

            </section>
            <section class="content container-fluid">

                <div style="align-content:center">
                    <div id="charts" class="row">
                        <m-piewithbar-chart id="dateChart" data-title="Cases Per Year & Month" data-barcategory="month" data-donutcategory="year" data-barvalue="value" data-donutvalue="value" data-bardatakey="monthData" data-exportValueName="Number Of Cases" style="height:600px;display:block !important;"></m-piewithbar-chart>
                        <m-bar-chart id="type" class="col-12" data-title="Cases Per Type" data-category="caseType" data-value="numberOfCases" style="height:600px;display:block !important;"></m-bar-chart>
                        <m-bar-chart id="status" class="col-12" data-title="Cases Per Status" data-category="caseStatus" data-value="numberOfCases" style="height:600px;display:block !important;"></m-bar-chart>
                    </div>
                </div>
            </section>
        }

        @if (homeType.Contains(HomeType.GOAML) && modules.Contains("GOAML"))
        {
            <section class="content-header">

                <h1>
                    GOAML Dashboard

                </h1>

            </section>
            <section class="content container-fluid">

                <div style="align-content:center">
                    <div id="charts" class="row">
                        <m-piewithbar-chart id="goAmldateChart" data-title="Reports Per Year & Month" data-barcategory="month" data-donutcategory="year" data-barvalue="value" data-donutvalue="value" data-bardatakey="monthData" data-exportValueName="Number Of Reports" style="height:600px;display:block !important;"></m-piewithbar-chart>
                        <m-bar-chart id="goAmltype" class="col-12" data-title="Reports Per Type" data-category="reportType" data-value="numberOfReports" style="height:600px;display:block !important;"></m-bar-chart>
                    </div>
                </div>
            </section>
        }
    }

}










