
@using ART_PACKAGE.Helpers.HTMLHelpers;
@using Data.Constants.db;
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@{
     Layout = "~/Views/Shared/_Layout.cshtml";
     var dbType = Configuration.GetValue<string>("dbType").ToUpper();
}


<div class="container-fluid">
    <div class="row accordion accordion-flush mb-4" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <span class="accordion-button collapsed text-uppercase fs-2 border border-primary-subtle" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Filters
                </span>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="row d-flex align-items-center">
                        <smart-query-builder class="offset-2 col-6" id="querybuilder" data-applybtn="applyBtn" data-params="BasicParams"></smart-query-builder>
                        <div class="col-2 d-flex justify-content-center">
                            <button id="applyBtn" class="btn btn-primary">Apply</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <m-donut-chart id="SystemPerformancePerStatus" data-dataurlkey="SystemPerformancePerStatus" data-filterbuilderid="querybuilder" data-title="Cases Per Status" data-category="CASE_STATUS" data-value="TOTAL_NUMBER_OF_CASES" style="height:600px"></m-donut-chart>
        <m-donut-chart id="SystemPerformancePerType" data-dataurlkey="SystemPerformancePerType" data-filterbuilderid="querybuilder" data-title="Cases Per Type" data-category="CASE_TYPE" data-value="TOTAL_NUMBER_OF_CASES" style="height:600px"></m-donut-chart>
        @if (dbType == DbTypes.SqlServer)
        {
            <m-donut-chart id="SystemPerformancePerDirection" data-dataurlkey="SystemPerformancePerDirection" data-filterbuilderid="querybuilder" data-title="Swift Cases Per Direction" data-category="TOTAL_NUMBER_OF_CASES" data-value="ALERTS_CNT_SUM" style="height:600px"></m-donut-chart>

        }

        @if (dbType == DbTypes.Oracle)
        {
            <m-line-chart id="SystemPerformancePerDate" data-dataurlkey="SystemPerformancePerDate" data-filterbuilderid="querybuilder" data-title="Cases Per Trans Direction" data-category="Date" data-value="CASES" style="height:600px"></m-line-chart>
        }
    </div>
</div>


@section Scripts {
    <script src="~/lib/smartcomponents/source/modules/smart.querybuilder.js"></script>
    <script type="module" defer src="~/js/components/charts/charts.js"></script>
}



