
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section KendoScripts{
    <partial name="_GridScripts" />
}
<section class="content-header">
    <h1>
        Financing Interest Accruals Report
        <small>This report produces details of interest accruals to date for financing transactions, showing for each the interest earned to date</small>
    </h1>
</section>
<m-grid id="FinintAcc" data-urlkey="FinintAcc" data-handlerkey="FinintAcc"></m-grid>

@*<div id="grid"></div>*@
@section Scripts{
    <script type="module" defer src="~/js/Components/Grid/Grid.js"></script>
  
    @*<script src="~/js/Dynamic.js" type="module" defer id="script"  data-urlkey="FinintAcc"></script>*@
}


