@section KendoScripts{
    <partial name="_GridScripts" />
}



<section class="content-header">
    <h1>
        Financing Interest Accruals Report
        <small class="h6">This report produces details of interest accruals to date for financing transactions, showing for each the interest earned to date</small>
        <br />
    </h1>
</section>

<m-grid id="FinintAcc" data-urlkey="FinintAcc" data-handlerkey="FinintAcc"></m-grid>

@section Scripts{
    <script type="module" defer src="~/js/components/grid/grid.js"></script>
}



