@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section KendoScripts{
    <partial name="_GridScripts" />
}



<section class="content-header">
    <h1>
        Our Charges Details
        <small class="h6">This report produces more detailed analysis of the individual charges for each event</small>
        <br />
    </h1>
</section>

<m-grid id="alertd" data-urlkey="OurChargesDetails" data-handlerkey="OurChargesDetails" data-defaultGroup="@ViewBag.defaultGroup"></m-grid>

@section Scripts{
    <script type="module" defer src="~/js/components/grid/grid.js"></script>
}
