@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section KendoScripts{
    <partial name="_GridScripts" />
}


<section class="content-header">
    <h1>
        FATCA Customers Details
        <small>Presents all FATCA Customers details</small>
    </h1>
</section>

<m-grid id="FATCADetails" data-urlkey="FATCADetails" data-handlerkey="FATCADetails"></m-grid>

@*<div id="grid"></div>*@
@section Scripts{
    <script type="module" defer src="~/js/components/grid/grid.js"></script>
    @*<script src="~/js/Dynamic.js" type="module" defer id="script" data-urlkey="FATCADetails"></script>*@
}


