
@{
    ViewData["Title"] = "BoxPlotChart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BoxPlotChart</h2>

<link rel="stylesheet" href="~/lib/Plugins/Kendo/kendo.default-v2.min.css" />
<link rel="stylesheet" href="~/lib/Plugins/Kendo/kendo.common.min.css" />
<script src="~/lib/Plugins/Kendo/jquery.min.js"></script>
<script src="~/lib/Plugins/Kendo/kendo.all.min.js"></script>
<script src="~/lib/Plugins/CustomPlugin/CustomKendoChartsScript.js"></script>

<style>
    #chartdiv {
        width: 100%;
        height: 500px;
    }
</style>
<h2>test</h2>
<div id="BoxPlotChart"></div>


<script>
    createBoxPlotChart("BoxPlotChart", "/SegmentationCharts/BoxPlotData", "Segment", "LowerOutlierLimit", "Percentile25", "Percentile50", "Percentile75", "UpperOutlierLimit", "outliers", "MeanTotalAmount", "Total Credit Amount Box Plot");
</script>

