@{
    ViewData["Title"] = "Comparison Segments";
}




<section class="content ">
    <div id="report-header" style="text-align:center">
        <h2>Comparison Customers's Segments</h2>
    </div>
    <div class="row">
        <div class="col-6">
            <m-select name="monthKey" id="month-key-spinner" data-searchable data-title="Month Key"></m-select>
        </div>
        <div class="col-6">
            <m-select name="segmentTypes" id="segment-type" data-searchable data-title="SegmentType"></m-select>
        </div>
    </div>


    <hr class="bg-primary" style="border:3px ;border-top: 3px solid">
    <div class="row">
        <m-donut-chart id="CustCountPerTypeChart" data-title="Number of Customers Per Type" data-category="PartyTypeDesc" data-value="NumberOfCustomers" style="height:700px;padding-bottom:50px;" class="col-12"></m-donut-chart>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="SegmentsCustCountChart" style="height:700px;padding-bottom:50px;"></div>
        </div>
        <div class="col-md-6">
            <div id="SegmentsAlertCountChart" style="height:700px;padding-bottom:50px;"></div>
        </div>
    </div>

    <hr style="border:3px ;border-top: 3px solid #013459 ">

    <div class="row">
        <div id="SegmentsComparisonChart" class="col-md-12" style="height:1000px;padding-bottom:50px;"></div>
    </div>
</section>


@section Scripts{
    <script src="~/js/components/charts/charts.js" type="module"></script>
    <script src="~/js/components/multiselect/select.js" type="module"></script>
    <script src="~/js/segmentcompare.js" asp-append-version="true" defer></script>
}

