
@{
    ViewData["Title"] = "SegmentReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <link href="~/lib/Plugins/Kendo/kendo.default-v2.min.css" rel="stylesheet" />
    <script src="~/lib/Plugins/Kendo/jquery.min.js"></script>
    <script src="~/lib/Plugins/Kendo/jszip.js"></script>
    <script src="~/lib/Plugins/Kendo/jszip.min.js"></script>
    <script src="~/lib/Plugins/Kendo/kendo.all.min.js"></script>
    <script src="~/lib/Plugins/CustomPlugin/CustomKendoChartsScript.js"></script>
    <script src="~/js/purecounter.js"></script>
    <link rel="stylesheet" href="~/lib/Plugins/amcharts_4.10.18/amcharts4/examples/javascript/candlestick-chart/index.css" />
    <link rel="stylesheet" href="~/lib/Plugins/amcharts_4.10.18/amcharts4/examples/javascript/stacked-3D-column-chart/index.css" />
    <script src="~/lib/Plugins/amcharts_4.10.18/amcharts4/core.js"></script>
    <script src="~/lib/Plugins/amcharts_4.10.18/amcharts4/charts.js"></script>
    <script src="~/lib/Plugins/amcharts_4.10.18/amcharts4/themes/animated.js"></script>
    <script src="~/js/segmentreport.js" asp-append-version="true"></script>
    <link href="~/css/segmentreport.css" rel="stylesheet" />
}

<div id="report-header" style="text-align:center">
    <h2>Monthly Segment Report</h2>
</div>
<div id="spinners-container" class="text-center">
    <div id="spinners" class="row top-buffer">
        <div class="col-md-4  ">
            <!-- <label style="display: block; text-align: center;">Hi</label> -->
            <label>Run Month</label>
            <select name="monthKey" id="month-key-spinner" onchange="onChangeMonthKey(this)"
                    class="form-control targeted-search-input ng-pristine ng-valid ng-touched " style="">
                <option value="monthKey">-- Not Selected --</option>

            </select>
        </div>
        <div class="col-md-4  ">
            <!-- <label style="display: block; text-align: center;">Hi</label> -->
            <label>Segment Type</label>
            <select name="segmentTypes" id="segment-type" onchange="onChangeSegmentType(this)"
                    class="form-control targeted-search-input ng-pristine ng-valid ng-touched" style="">
                <option value="segmentType">-- Not Selected --</option>

            </select>
        </div>
        <div class="col-md-4  ">
            <!-- <label style="display: block; text-align: center;">Hi</label> -->
            <label>Segment ID</label>
            <select name="segmentId" id="segment-id" onchange="onChangeSegmentId(this)"
                    class="form-control targeted-search-input ng-pristine ng-valid ng-touched" style="">
                <option value="segmentId">-- Not Selected --</option>

            </select>
        </div>
    </div>
</div>
<br>
<section id="segment-tags" class="content ">
    @*<div style="align-content:center" id="detils-container"></div>*@

    <div id="TabsID">
        <p>Click on the buttons inside the tabbed menu to get each feature's statistics</p>

        <div class="tab row" style="margin-left: 3px;margin-right: 0px;">
            <button class="tablinks col-sm-2" style="color:#013459; text-align: center; font-weight: 600;" id="CashAmt" onclick="openTab(event, 'Cash')">Cash</button>
            <button class="tablinks col-sm-2" style="color:#013459; text-align: center; font-weight: 600;" id="WireAmt" onclick="openTab(event, 'Wire')">Wires</button>
            <button class="tablinks col-sm-2" style="color:#013459; text-align: center; font-weight: 600;" id="ChequeAmt" onclick="openTab(event, 'Cheque')">Cheque</button>
            <button class="tablinks col-sm-2" style="color:#013459; text-align: center; font-weight: 600;" id="MiscAmt" onclick="openTab(event, 'Misc')">Misc</button>
            <button class="tablinks col-sm-2" style="color:#013459; text-align: center; font-weight: 600;" id="InternaltransferAmt" onclick="openTab(event, 'InternalTransfer')">Internal Transfer</button>
            <button class="tablinks col-sm-2" style="color:#013459; text-align: center; font-weight: 600;" id="WithdrawalAmt" onclick="openTab(event, 'Withdrawal')">Withdrawal</button>
           @* <button class="tablinks col-sm-2" style="color:#013459; text-align: center; font-weight: 600;" id="FeesAmt" onclick="openTab(event, 'Fees')">Fees</button>*@
        </div>

        

        <div id="Cash" class="tabcontent">
            <section class="counters text-center" style="font-size:16px;display:none" id="FirstTab">
                <div class="" id="FirstTab">
                    <h4 style="color:#013459; text-align: left; font-weight: 600; font-style: italic "> Credit: </h4>

                    <div class="row">
                        <div class='col-md-1'>
                            <h4>Total</h4>
                            <div class='counter' id="Tot_TotalCashCreditAmount"></div>
                        </div>
                        <div class='col-md-3'>
                            <h4>Lowest Amount</h4>
                            <div class='counter' id="Min_LowestCashCreditAmount"></div>
                        </div>
                        <div class="col-md-3">
                            <h4>Average Amount</h4>
                            <div class="counter" id="Avg_AverageCashCreditAmount"></div>
                        </div>
                        <div class="col-md-3">
                            <h4>Highest Amount</h4>
                            <div class="counter" id="Max_MaxCashCreditAmount"></div>
                        </div>
                        <div class="col-md-1">
                            <h4>Count</h4>
                            <div class="counter" id="Cnt_TotalCashCreditCount"></div>
                        </div>
                    </div>
                    <hr style="border:3px ;border-top: 3px solid #013459 ">


                    <h4 style="color: #013459; text-align: left; font-weight: 600; font-style: italic "> Debit: </h4>
                    <div class="row">
                        <div class='col-md-1'>
                            <h4>Total</h4>
                            <div class='counter' id="Tot_TotalCashDebitAmount"></div>
                        </div>
                        <div class='col-md-3'>
                            <h4>Lowest Amount</h4>
                            <div class='counter' id="Min_LowestCashDebitAmount"></div>
                        </div>
                        <div class="col-md-3">
                            <h4>Average Amount</h4>
                            <div class="counter" id="Avg_AverageCashDebitAmount"></div>
                        </div>
                        <div class="col-md-3">
                            <h4>Highest Amount</h4>
                            <div class="counter" id="Max_MaxCashDebitAmount"></div>
                        </div>
                        <div class="col-md-1">
                            <h4>Count</h4>
                            <div class="counter" id="Cnt_TotalCashDebitCount"></div>
                        </div>
                    </div>
                </div>

            </section>
        </div>

        <div id="Wire" class="tabcontent">
            <section class="counters text-center" style="font-size:16px;display:none" id="SecondTab">
                <div class="" id="SecondTab">
                    <h4 style="color:#013459; text-align: left; font-weight: 600; font-style: italic "> Credit: </h4>

                    <div class="row">
                        <div class='col-md-1'>
                            <h4>Total</h4>
                            <div class='counter' id="Tot_TotalWireCreditAmount"></div>
                        </div>
                        <div class='col-md-3'>
                            <h4>Lowest Amount</h4>
                            <div class='counter' id="Min_LowestWireCreditAmount"></div>
                        </div>
                        <div class="col-md-3">
                            <h4>Average Amount</h4>
                            <div class="counter" id="Avg_AverageWireCreditAmount"></div>
                        </div>
                        <div class="col-md-3">
                            <h4>Highest Amount</h4>
                            <div class="counter" id="Max_MaxWireCreditAmount"></div>
                        </div>
                        <div class="col-md-1">
                            <h4>Count</h4>
                            <div class="counter" id="Cnt_TotalWireCreditCount"></div>
                        </div>
                    </div>
                    <hr style="border:3px ;border-top: 3px solid #013459 ">


                    <h4 style="color: #013459; text-align: left; font-weight: 600; font-style: italic "> Debit: </h4>
                    <div class="row">
                        <div class='col-md-1'>
                            <h4>Total</h4>
                            <div class='counter' id="Tot_TotalWireDebitAmount"></div>
                        </div>
                        <div class='col-md-3'>
                            <h4>Lowest Amount</h4>
                            <div class='counter' id="Min_LowestWireDebitAmount"></div>
                        </div>
                        <div class="col-md-3">
                            <h4>Average Amount</h4>
                            <div class="counter" id="Avg_AverageWireDebitAmount"></div>
                        </div>
                        <div class="col-md-3">
                            <h4>Highest Amount</h4>
                            <div class="counter" id="Max_MaxWireDebitAmount"></div>
                        </div>
                        <div class="col-md-1">
                            <h4>Count</h4>
                            <div class="counter" id="Cnt_TotalWireDebitCount"></div>
                        </div>
                    </div>
                </div>

            </section>
        </div>

        <div id="Cheque" class="tabcontent">
            <section class="counters text-center" style="font-size:16px;display:none" id="ThirdTab">
                <div class="" id="ThirdTab">
                    <h4 style="color: #013459; text-align: left; font-weight: 600; font-style: italic "> Debit: </h4>
                    <div class="row">
                        <div class='col-md-1'>
                            <h4>Total</h4>
                            <div class='counter' id="Tot_TotalCheckDebitAmount"></div>
                        </div>
                        <div class='col-md-3'>
                            <h4>Lowest Amount</h4>
                            <div class='counter' id="Min_LowestCheckDebitAmount"></div>
                        </div>
                        <div class="col-md-3">
                            <h4>Average Amount</h4>
                            <div class="counter" id="Avg_AverageCheckDebitAmount"></div>
                        </div>
                        <div class="col-md-3">
                            <h4>Highest Amount</h4>
                            <div class="counter" id="Max_MaxCheckDebitAmount"></div>
                        </div>
                        <div class="col-md-1">
                            <h4>Count</h4>
                            <div class="counter" id="Cnt_TotalCheckDebitCount"></div>
                        </div>
                    </div>
                </div>

            </section>
        </div>

        <div id="Misc" class="tabcontent">
            <section class="counters text-center" style="font-size:16px;display:none" id="ForthTab">
                <div class="" id="ForthTab">
                    <h4 style="color:#013459; text-align: left; font-weight: 600; font-style: italic "> Credit: </h4>

                    <div class="row">
                        <div class='col-md-1'>
                            <h4>Total</h4>
                            <div class='counter' id="Tot_TotalMiscCreditAmount"></div>
                        </div>
                        <div class='col-md-3'>
                            <h4>Lowest Amount</h4>
                            <div class='counter' id="Min_LowestMiscCreditAmount"></div>
                        </div>
                        <div class="col-md-3">
                            <h4>Average Amount</h4>
                            <div class="counter" id="Avg_AverageMiscCreditAmount"></div>
                        </div>
                        <div class="col-md-3">
                            <h4>Highest Amount</h4>
                            <div class="counter" id="Max_MaxMiscCreditAmount"></div>
                        </div>
                        <div class="col-md-1">
                            <h4>Count</h4>
                            <div class="counter" id="Cnt_TotalMiscCreditCount"></div>
                        </div>
                    </div>
                </div>

            </section>
        </div>

        <div id="InternalTransfer" class="tabcontent">
            <section class="counters text-center" style="font-size:16px;display:none" id="FifthTab">
                <div class="" id="FifthTab">
                    <h4 style="color:#013459; text-align: left; font-weight: 600; font-style: italic "> Credit: </h4>

                    <div class="row">
                        <div class='col-md-1'>
                            <h4>Total</h4>
                            <div class='counter' id="Tot_TotalInternaltransferCreditAmount"></div>
                        </div>
                        <div class='col-md-3'>
                            <h4>Lowest Amount</h4>
                            <div class='counter' id="Min_LowestInternaltransferCreditAmount"></div>
                        </div>
                        <div class="col-md-3">
                            <h4>Average Amount</h4>
                            <div class="counter" id="Avg_AverageInternaltransferCreditAmount"></div>
                        </div>
                        <div class="col-md-3">
                            <h4>Highest Amount</h4>
                            <div class="counter" id="Max_MaxInternaltransferCreditAmount"></div>
                        </div>
                        <div class="col-md-1">
                            <h4>Count</h4>
                            <div class="counter" id="Cnt_TotalInternaltransferCreditCount"></div>
                        </div>
                    </div>
                    <hr style="border:3px ;border-top: 3px solid #013459 ">


                    <h4 style="color: #013459; text-align: left; font-weight: 600; font-style: italic "> Debit: </h4>
                    <div class="row">
                        <div class='col-md-1'>
                            <h4>Total</h4>
                            <div class='counter' id="Tot_TotalInternaltransferDebitAmount"></div>
                        </div>
                        <div class='col-md-3'>
                            <h4>Lowest Amount</h4>
                            <div class='counter' id="Min_LowestInternaltransferDebitAmount"></div>
                        </div>
                        <div class="col-md-3">
                            <h4>Average Amount</h4>
                            <div class="counter" id="Avg_AverageInternaltransferDebitAmount"></div>
                        </div>
                        <div class="col-md-3">
                            <h4>Highest Amount</h4>
                            <div class="counter" id="Max_MaxInternaltransferDebitAmount"></div>
                        </div>
                        <div class="col-md-1">
                            <h4>Count</h4>
                            <div class="counter" id="Cnt_TotalInternaltransferDebitCount"></div>
                        </div>
                    </div>
                </div>

            </section>
        </div>

        <div id="Withdrawal" class="tabcontent">
            <section class="counters text-center" style="font-size:16px;display:none" id="SexTab">
                <div class="" id="SexTab">

                    <h4 style="color: #013459; text-align: left; font-weight: 600; font-style: italic "> Debit: </h4>
                    <div class="row">
                        <div class='col-md-1'>
                            <h4>Total</h4>
                            <div class='counter' id="Tot_TotalWithdrawalDebitAmount"></div>
                        </div>
                        <div class='col-md-3'>
                            <h4>Lowest Amount</h4>
                            <div class='counter' id="Min_LowestWithdrawalDebitAmount"></div>
                        </div>
                        <div class="col-md-3">
                            <h4>Average Amount</h4>
                            <div class="counter" id="Avg_AverageWithdrawalDebitAmount"></div>
                        </div>
                        <div class="col-md-3">
                            <h4>Highest Amount</h4>
                            <div class="counter" id="Max_MaxWithdrawalDebitAmount"></div>
                        </div>
                        <div class="col-md-1">
                            <h4>Count</h4>
                            <div class="counter" id="Cnt_TotalWithdrawalDebitCount"></div>
                        </div>
                    </div>
                </div>

            </section>
        </div>

       

    </div>

 

</section>
<div id="charts-container" class="text-center">
    <div class="row top-buffer">
        <div>
            <div id="chartdiv" style="height:600px" hidden></div>
            <hr>
            <div id="chartCountdiv" style="height:500px" hidden></div>
            <hr>
            <div id="IndustrySegmentChart" style="height:700px" hidden></div>
        </div>
        <br>
        <br>
        <br>
    </div>
</div>



