@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/lib/Plugins/Kendo/kendo.default-v2.min.css" rel="stylesheet" />
<script src="~/lib/Plugins/Kendo/jquery-1.12.4.min.js"></script>
<script src="~/lib/Plugins/Kendo/jquery.min.js"></script>
<script src="~/lib/Plugins/Kendo/jszip.js"></script>
<script src="~/lib/Plugins/Kendo/jszip.min.js"></script>
<script src="~/lib/Plugins/Kendo/kendo.all.min.js"></script>
<script src="~/lib/jquery-loading-overlay/loadingoverlay.js"></script>
<script src="~/js/FileExtraction.js"></script>
<script src="~/js/site.js"></script>
<link href="~/css/site.css" rel="stylesheet" />


<section class="content-header">
    <h1>
        Risk Assessment Details
        <small>Presents the Risk details </small>
        <br />
    </h1>
</section>


<div id="grid"></div>
@section Scripts{


    <script src="~/js/Dynamic.js" id="script" defer type="module" data-urlkey="RiskAssessment"></script>
}




<!--@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<link href="~/lib/Plugins/Kendo/kendo.default-v2.min.css" rel="stylesheet" />-->
@*<script src="~/lib/Plugins/Kendo/jquery-1.12.4.min.js"></script>*@
<!--<script src="~/lib/Plugins/Kendo/jquery.min.js"></script>
<script src="~/lib/Plugins/Kendo/jszip.js"></script>
<script src="~/lib/Plugins/Kendo/jszip.min.js"></script>
<script src="~/lib/Plugins/Kendo/kendo.all.min.js"></script>
<script src="~/js/FileExtraction.js"></script>
<script src="~/js/site.js"></script>
<link href="~/css/site.css" rel="stylesheet" />
<section class="content-header">
    <h1>
        Risk Assessment Details
        <small>Presents the Risk details </small>
    </h1>
</section>

<!-- Main content -->
<!--<section class="content container-fluid">
    <button type="button" id="ModelBTN" class="btn btn-primary text-center" style="display:block" data-toggle="modal" data-target="#exampleModal" onclick="getDate()">
        Filters .. <span class="glyphicon glyphicon-search">  </span>
    </button>-->
<!-- GRID -->
<!--<div id="example">
    <div id="grid"></div>
    <div class="content text-center">
        <button class="btn btn-primary" id="bck"><span class="glyphicon glyphicon-arrow-left"></span></button>
        <label id="pageNumber"></label>
        <button class="btn btn-primary" id="nxt"><span class="glyphicon glyphicon-arrow-right"></span></button>
        <label style="float:right" id="totalCount"></label>
    </div>
    <script>
        $("#nxt").removeAttr("style").hide();
        $("#bck").removeAttr("style").hide();

        function CleartModelFilters() {
            $('#RiskStatus').val("");
            $('#RiskClass').val("");
            $('#ProposedRiskClass').val("");
            $('#BranchName').val("");
            $('#RiskAssessmentId').val("");
            $('#PartyNumber').val("");
            $('#PartyName').val("");
            $('#cstartdate').val("");
            $('#cenddate').val("");
            $('#CreateUserId').val("");
            $('#AssessmentTypeCd').val("");
            $('#AssessmentCategoryCd').val("");
            $('#AssessmentSubcategoryCd').val("");
            $('#OwnerUserLongId').val("");
        };
        var filtiredData;
        var pageNum = 1;
        var PageLimits = 0;
        $('#bck').prop('disabled', true);
        var queryUrl = '';
        function PresentData() {
            var RiskStatus = $('#RiskStatus').val();
            var RiskClass = $('#RiskClass').val();
            var ProposedRiskClass = $('#ProposedRiskClass').val();
            var BranchName = $('#BranchName').val();
            var RiskAssessmentId = $('#RiskAssessmentId').val();
            var PartyNumber = $('#PartyNumber').val();
            var PartyName = $('#PartyName').val();
            var cstartdate = $('#cstartdate').val();
            var cenddate = $('#cenddate').val();
            var CreateUserId = $('#CreateUserId').val();
            var AssessmentTypeCd = $('#AssessmentTypeCd').val();
            var AssessmentCategoryCd = $('#AssessmentCategoryCd').val();
            var AssessmentSubcategoryCd = $('#AssessmentSubcategoryCd').val();
            var OwnerUserLongId = $('#OwnerUserLongId').val();

            var pageNum = 1;
            $('#grid').empty(); // to prevent more than one render

            $("#nxt").show();
            $("#bck").show();
            if (pageNum == 1) {
                $('#bck').prop('disabled', true);
                $('#nxt').prop('disabled', true);
            }

            $('#grid').empty(); // to prevent more than one render
            $(document).ready(function () {
                $.getJSON("/RiskAssessment/getTotalCount", function (data) {
                    $('#totalCount').text("Total Count : ( " + data + " ) Rows");
                    PageLimits = Math.ceil(data / 600);
                });
            });
            //var PageLimits = 0;
            //var pageNum = 1;
            $('#pageNumber').empty();
            $("#pageNumber").text(pageNum);
            //$('#bck').prop('disabled', true);

            callKendo();
            $('#nxt').click(function () {

                if (pageNum == 1) {

                    $('#grid').empty();
                    $('#pageNumber').empty();
                    $("#pageNumber").text(pageNum);
                    $('#bck').prop('disabled', true);
                    $('#nxt').prop('disabled', true);

                    callKendo();


                }
                if (pageNum < PageLimits) {
                    $('#bck').prop('disabled', false);
                    $('#nxt').prop('disabled', true);

                    $('#grid').empty();
                    //console.log("PageLimits_2 : " + PageLimits);
                    pageNum += 1;
                    if (PageLimits == pageNum) {
                        $('#nxt').prop('disabled', true);
                    }
                    $('#pageNumber').empty();
                    $("#pageNumber").text(pageNum);
                    callKendo();
                } else {
                    $('#nxt').prop('disabled', true);
                    $('#grid').empty();
                    callKendo();
                }

            });
            $('#bck').click(function () {
                $('#nxt').prop('disabled', false);
                console.log(pageNum);
                if (pageNum == 1) {
                    $('#bck').prop('disabled', true);
                    $('#grid').empty();
                    $('#pageNumber').empty();
                    $("#pageNumber").text(pageNum);
                    callKendo();

                }
                else {
                    console.log(pageNum);
                    $('#grid').empty();

                    pageNum -= 1;
                    if (pageNum == 1) {
                        $('#bck').prop('disabled', true);

                    }
                    $('#pageNumber').empty();
                    $("#pageNumber").text(pageNum);
                    callKendo();
                }
            });

            function callKendo() {
                queryUrl = "page=" + pageNum + "&RiskStatus=" + RiskStatus + "&RiskClass=" + RiskClass + "&ProposedRiskClass=" + ProposedRiskClass + "&BranchName=" + BranchName + "&RiskAssessmentId=" + RiskAssessmentId + "&PartyNumber=" + PartyNumber + "&PartyName=" + PartyName + "&CreateUserId=" + CreateUserId + "&AssessmentTypeCd=" + AssessmentTypeCd + "&AssessmentCategoryCd=" + AssessmentCategoryCd + "&AssessmentSubcategoryCd=" + AssessmentSubcategoryCd + "&OwnerUserLongId=" + OwnerUserLongId + "&cstartdate=" + cstartdate + "&cenddate=" + cenddate;
                $("#grid").kendoGrid({
                    dataSource: {
                        type: "api",
                        transport: {
                            read: "/RiskAssessment/GetData?"+queryUrl

                        },
                        schema: {
                            model: {
                                fields: {
                                    RiskStatus: { type: "string" },
                                    RiskClass: { type: "string" },
                                    ProposedRiskClass: { type: "string" },
                                    BranchName: { type: "string" },
                                    RiskAssessmentId: { type: "string" },
                                    PartyNumber: { type: "string" },
                                    PartyName: { type: "string" },
                                    CreateDate: { type: "date" },
                                    CreateUserId: { type: "string" },
                                    AssessmentTypeCd: { type: "string" },
                                    AssessmentCategoryCd: { type: "string" },
                                    AssessmentSubcategoryCd: { type: "string" },
                                    OwnerUserLongId: { type: "string" }

                                }
                            }
                        },
                        pageSize: 17,
                        serverPaging: false,
                        serverFiltering: false,
                        serverSorting: false
                    },
                    height: 590,
                    columnMenu: true,
                    filterable: true,
                    pageable: {
                        numeric: false,
                        previousNext: false
                    },
                    sortable: { mode: "single", allowUnsort: true },
                    scrollable: { virtual: true },
                    reorderable: true,
                    // pageable: true,
                    resizable: true,
                    selectable: "single",
                    toolbar: [{ template: kendo.template($("#customTemplate").html()) }],-->
@*excel: {
        fileName: "Data_Export.xlsx",
        allPages: true,
        filterable: true
    },*@

                        @*columns: [
                            { field: "CreateDate", width: 150, title: "Create Date", format: "{0:MMM/dd/yyyy}", stickable: true },
                            { field: "PartyNumber", width: 200, title: "Party Number", stickable: true },
                            { field: "PartyName", width: 250, title: "Party Name", stickable: true },
                            { field: "BranchName", width: 200, title: "Branch Name", stickable: true },
                            { field: "AssessmentTypeCd", width: 250, title: "Assessment Type", stickable: true },
                            { field: "RiskAssessmentId", width: 250, title: "Risk Assessment ID", stickable: true },
                            { field: "OwnerUserLongId", width: 250, title: "Owner", stickable: true },
                            { field: "CreateUserId", width: 250, title: "Create By", stickable: true },
                            { field: "RiskStatus", width: 250, title: "Risk Status", stickable: true },
                            { field: "RiskClass", width: 250, title: "Risk Classification", stickable: true },
                            { field: "ProposedRiskClass", width: 250, title: "Proposed Risk Classification", stickable: true }

                        ],
                        dataBound: dataBounding
                        , filterMenuInit: onFilterMenuInit
                    });
                }
                function dataBounding() {

                    console.log("dataBound");

                    setTimeout(function () {

                        var grid = $("#grid").data("kendoGrid");
                        var dataSource = grid.dataSource;

                        //records on current view / page
                        var recordsOnCurrentView = dataSource.view().length;
                        console.log("recordsOnCurrentView = " + recordsOnCurrentView);

                        //total records
                        var totalRecords = dataSource.total();
                        console.log("totalRecords = " + totalRecords);

                        if (totalRecords < 600) {
                            // $('#bck').prop('disabled', true);
                            $('#nxt').prop('disabled', true);
                        } else {
                            //$('#bck').prop('disabled', false);
                            $('#nxt').prop('disabled', false);
                        }

                    }, 1000);

                };
                //START check box filter for scenario names
                function onFilterMenuInit(e) {
                    if (e.field == "RiskScore") { initCheckboxFilter.call(this, e); };
                    if (e.field == "OwnerUserid") { initCheckboxFilter.call(this, e); };
                }

                function initCheckboxFilter(e) {
                    var popup = e.container.data("kendoPopup");
                    var dataSource = this.dataSource;
                    var field = e.field;


                    var checkboxesDataSource = new kendo.data.DataSource({
                        data: uniqueForField(dataSource.data(), field)
                    });


                    var helpTextElement = e.container.children(":first").children(":first");
                    helpTextElement.nextUntil(":has(.k-button)").remove();
                    var element = $("<div class='checkbox-container'></div>").insertAfter(helpTextElement).kendoListView({
                        dataSource: checkboxesDataSource,
                        template: "<div><input type='checkbox' value='#:" + field + "#' />#:" + field + "#</div>"
                    });
                    e.container.find("[type='submit']").click(function (e) {
                        e.preventDefault();
                        e.stopPropagation();
                        var filter = dataSource.filter() || { logic: "and", filters: [] };
                        var fieldFilters = $.map(element.find(":checkbox:checked"), function (input) {
                            return {
                                field: field,
                                operator: "eq",
                                value: input.value
                            };
                        });
                        if (fieldFilters.length) {
                            removeFiltersForField(filter, field);
                            filter.filters.push({
                                logic: "or",
                                filters: fieldFilters
                            });
                            dataSource.filter(filter);
                        }
                        popup.close();
                    });
                }

                function removeFiltersForField(expression, field) {
                    if (expression.filters) {
                        expression.filters = $.grep(expression.filters, function (filter) {
                            removeFiltersForField(filter, field);
                            if (filter.filters) {
                                return filter.filters.length;
                            } else {
                                return filter.field != field;
                            }
                        });
                    }
                }

                function uniqueForField(data, field) {
                    var map = {};
                    var result = [];
                    var item;
                    for (var i = 0; i < data.length; i++) {
                        item = data[i];
                        if (!map[item[field]]) {
                            result.push(item.toJSON());
                            map[item[field]] = true;
                        }
                    }
                    return result;
                }
                //END
                $("#nxt").attr("disabled", false);
                $("#totalCount").attr("disabled", false);
                $("#pageNumber").attr("disabled", false);
                var bck = document.getElementById("bck");
                bck.style.display = "none";
                var pageNumberLbel = document.getElementById("pageNumber");
                pageNumberLbel.style.display = "block";
                var nxt = document.getElementById("nxt");
                nxt.style.display = "none";
                var totalCountLbel = document.getElementById("totalCount");
                totalCountLbel.style.display = "block";
                fillExportList("grid")
            };

        </script>
    </div>

</section>-->*@
<!--Filter Modal -->
<!--<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:60%">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Filter Options </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>

            <div class="modal-body" id="ModelBodyHTML">
                <br />
                <div class="row">
                    <label class="col-md-2"> Create Date or after  </label>
                    <input type="date" id="cstartdate" class="col-md-3 text-infol" />

                    <label class="col-md-2">Create Date of before </label>
                    <input type="date" id="cenddate" class="col-md-3 text-infol" />
                </div>
                <br />
                <div class="row">
                    <label class="col-md-2">Party Name</label><input type="text" id="PartyName" class="col-md-3 text-infol">
                    <label class="col-md-2">Party Number</label><input id="PartyNumber" type="text" class="col-md-3 text-infol" />
                </div>
                <br />
                <div class="row">
                    <label class="col-md-2">Branch Name</label>
                    <select id="BranchName" class="col-md-3 text-infol"><option></option></select>
                    <label class="col-md-2">Assessment Type</label>
                    <select id="AssessmentTypeCd" class="col-md-3 text-infol">
                        <option></option>
                    </select>
                </div>

                <br />
                <div class="row">
                    <label class="col-md-2">Risk Assessment ID</label><input type="text" id="RiskAssessmentId" class="col-md-3 text-infol" />
                    <label class="col-md-2">Create User ID</label>
                    <select id="CreateUserId" class="col-md-3 text-infol">
                        <option></option>
                        <option>UNKNOWN</option>
                    </select>
                </div>
                <br />
                <div class="row">
                    <label class="col-md-2">Risk Status</label>
                    <select id="RiskStatus" class="col-md-3 text-infol">
                        <option></option>
                    </select>
                    <label class="col-md-2">Risk Classification</label>
                    <select id="RiskClass" class="col-md-3 text-infol">
                        <option></option>
                    </select>
                </div>
                <br />
                <div class="row">
                    <label class="col-md-2">Proposed Risk Classification</label>
                    <select id="ProposedRiskClass" class="col-md-3 text-infol">
                        <option></option>
                    </select>
                    <label class="col-md-2">Assessment Category</label>
                    <select id="AssessmentCategoryCd" class="col-md-3 text-infol">
                        <option></option>
                    </select>
                </div>
                <br />
                <div class="row">
                    <label class="col-md-2">Assessment Sub category</label>
                    <select id="AssessmentSubcategoryCd" class="col-md-3 text-infol">
                        <option></option>
                    </select>
                    <label class="col-md-2">Owner</label>
                    <select id="OwnerUserLongId" class="col-md-3 text-infol">
                        <option></option>
                        <option>UNKNOWN</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" style="float:left" onclick="CleartModelFilters()">Reset</button>

                <button type="button" class="btn btn-success" onclick="PresentData()" data-dismiss="modal">Apply Filters <span class="glyphicon glyphicon-search">  </span></button>

                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>-->
<!--Filter End Modal -->
<!--<script>
    // DropDown Filters Script
    // Get Drop Down API data
    $(document).ready(function () {
        $.getJSON("/RiskAssessment/GetBranchNameDropDown", function (data) {
            console.log(data);
            var DropDown = document.getElementById('BranchName');
            for (var M = 0; M < data.length; M++) {
                var option = document.createElement("option");
                option.value = data[M].BranchName;
                option.text = data[M].BranchName;
                DropDown.appendChild(option);
            }
        });
    });
    $(document).ready(function () {
        $.getJSON("/RiskAssessment/GetAssessmentTypeDropDown", function (data) {
            console.log(data);
            var DropDown = document.getElementById('AssessmentTypeCd');
            for (var M = 0; M < data.length; M++) {
                var option = document.createElement("option");
                option.value = data[M];
                option.text = data[M];
                DropDown.appendChild(option);
            }
        });
    });
    $(document).ready(function () {
        $.getJSON("/RiskAssessment/GetCreateUserIDDropDown", function (data) {
            console.log(data);
            var DropDown = document.getElementById('CreateUserId');
            for (var M = 0; M < data.length; M++) {
                var option = document.createElement("option");
                option.value = data[M];
                option.text = data[M];
                DropDown.appendChild(option);
            }
        });
    });
    $(document).ready(function () {
        $.getJSON("/RiskAssessment/GetRiskClassDropDown", function (data) {
            console.log(data);
            var DropDown = document.getElementById('RiskClass');
            for (var M = 0; M < data.length; M++) {
                var option = document.createElement("option");
                option.value = data[M].LovTypeDesc;
                option.text = data[M].LovTypeDesc;
                DropDown.appendChild(option);

            }
        });
    });
    $(document).ready(function () {
        $.getJSON("/RiskAssessment/GetRiskStatusDropDown", function (data) {
            console.log(data);
            var DropDown = document.getElementById('RiskStatus');
            for (var M = 0; M < data.length; M++) {
                var option = document.createElement("option");
                option.value = data[M].LovTypeDesc;
                option.text = data[M].LovTypeDesc;
                DropDown.appendChild(option);
            }
        });
    });
    $(document).ready(function () {
        $.getJSON("/RiskAssessment/GetProposedRiskClassDropDown", function (data) {
            console.log(data);
            var DropDown = document.getElementById('ProposedRiskClass');
            for (var M = 0; M < data.length; M++) {
                var option = document.createElement("option");
                option.value = data[M].LovTypeDesc;
                option.text = data[M].LovTypeDesc;
                DropDown.appendChild(option);
            }
        });
    });
    $(document).ready(function () {
        $.getJSON("/RiskAssessment/GetAssessmentCategoryCdDropDown", function (data) {
            console.log(data);
            var DropDown = document.getElementById('AssessmentCategoryCd');
            for (var M = 0; M < data.length; M++) {
                var option = document.createElement("option");
                option.value = data[M];
                option.text = data[M];
                DropDown.appendChild(option);
            }
        });
    });
    $(document).ready(function () {
        $.getJSON("/RiskAssessment/GetAssessmentSubCategoryCdDropDown", function (data) {
            console.log(data);
            var DropDown = document.getElementById('AssessmentSubcategoryCd');
            for (var M = 0; M < data.length; M++) {
                var option = document.createElement("option");
                option.value = data[M];
                option.text = data[M];
                DropDown.appendChild(option);
            }
        });
    });
    $(document).ready(function () {
        $.getJSON("/RiskAssessment/GetOwnerUserLongIdDropDown", function (data) {
            console.log(data);
            var DropDown = document.getElementById('OwnerUserLongId');
            for (var M = 0; M < data.length; M++) {
                var option = document.createElement("option");
                option.value = data[M];
                option.text = data[M];
                DropDown.appendChild(option);
            }
        });
    });
    function getDate() {
        var today = new Date();

        document.getElementById("cstartdate").defaultValue = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);
        document.getElementById("cenddate").defaultValue = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);
        console.log(today.getFullYear());
    }

    function toolbar_click() {
        var exportedColumns = getExportedColumns();
        ExtractFiles("/RiskAssessment/Export?" + queryUrl + getTableHeaders() + exportedColumns, "RiskAssessment");
        //console.log("/Customers/Export?" + queryUrl + getTableHeaders() + getExportedColumns());
    }

</script>


<style type="text/css">
    .checkbox-container {
        max-height: 200px;
        overflow: auto;
    }
</style>

<partial name="_ExportPartialView" />-->
