@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section KendoScripts{
    <partial name="_GridScripts" />
}

<section class="content-header">
    <h1>
        Risk Assessment Details
        <small>Presents the Risk details </small>
        <br />
    </h1>
</section>
<m-grid id="RiskAssessment" data-urlkey="RiskAssessment" data-handlerkey="RiskAssessment"></m-grid>

@*<div id="grid"></div>*@
@section Scripts{
    <script type="module" defer src="~/js/components/grid/grid.js"></script>

    @*<script src="~/js/Dynamic.js" id="script" defer type="module" data-urlkey="RiskAssessment"></script>*@
}

