
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section KendoScripts{
    <partial name="_GridScripts" />
}

<section class="content-header">
    <h1>
        Watchlist - OS Check Report
        <small>This report produces lists of transactions that have been pended and are awaiting list checking.</small>
    </h1>
</section>
<m-grid id="WatchlistOSCheck" data-urlkey="WatchlistOSCheck" data-handlerkey="WatchlistOSCheck"></m-grid>

@*<div id="grid"></div>*@
@section Scripts{
    <script type="module" defer src="~/js/components/grid/grid.js"></script>
    @*<script src="~/js/Dynamic.js" type="module" defer id="script" data-urlkey="WatchlistOSCheck"></script>*@
}