
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section KendoScripts{
    <partial name="_QueryBuilderGridScripts" />
}
<section class="content-header">
    <h1>
        User Performance Per Action User Report
        <small> </small>
        <br />
    </h1>
</section>
<art-filters-control id="UserPerformancePerActionUser" data-key="UserPerformancePerActionUser"></art-filters-control>
<m-grid id="UserPerformancePerActionUser" data-urlkey="UserPerformancePerActionUser" data-handlerkey="UserPerformancePerActionUser" data-stored="UserPerformancePerActionUser"></m-grid>

<script>

</script>
@section Scripts {


    <script src="~/js/Components/ARTQBuilder/QueryBuilder.js" defer type="module"></script>

    <script type="module" defer src="~/js/Components/Grid/Grid.js"></script>

@*    <script src="~/js/Dynamic.js" id="script" defer type="module" data-stored="true" data-urlkey="UserPerformancePerActionUser" data-handlerkey="UserPerformancePerActionUser"></script>
*@}
