@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section KendoScripts{
    <partial name="_GridScripts" />
}



<section class="content-header">
    <h1>
        List Of Users Roles
        <small class="h6">This Report presents all users with their roles</small>
        <br />
    </h1>
</section>

<m-grid id="ListOfUsersRole" data-urlkey="ListOfUsersRole" data-handlerkey="ListOfUsersRole"></m-grid>

@section Scripts{
    <script type="module" defer src="~/js/components/grid/grid.js"></script>
}









