@page "/Account/Ldapauth/login"
@model LDapAuthModel

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ART_PACKAGE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ART_PACKAGE.styles.css" asp-append-version="true" />
</head>
<div class="row d-flex justify-content-center align-items-center pt-5" id="login-container">
    <div class="col-md-6">
        <section>
            <div class="d-flex flex-column">
                <img class="text-center" src="~/imgs/LOGO.png" id="logo-image" />
                <h3 class="text-center"> <strong>  Analytics-Reporting-Tool </strong></h3>
                <h3 class="text-center"> <strong> A.R.T </strong></h3>
            </div>
            <br>
            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <div class="d-flex justify-content-between">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                </div>
                <div class="form-group">
                    @*<p>
                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>*@
                    <p>
                        Login with  <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl"> Art Local Account</a>
                    </p>
                    @*<p>
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>*@
                </div>
              
              
            </form>
        </section>
    </div>


</div>

</html>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}






