

<nav class="navbar bg-primary navbar-dark fixed-top">
    <div class="container-fluid">
        <div class="d-flex align-items-center">
            <button class="navbar-toggler me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#drawer">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand d-flex align-items-center" asp-action="Index" asp-controller="Home">
                <img src="~/imgs/iconwhite.png" alt="ART logo" width="40" height="40" />A.R.T
            </a>
        </div>
        <div class="mx-2">
            <partial name="_notifications" />
        </div>
    </div>

</nav>




