<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=0.8">

<meta name="docsearch:language" content="en">
<meta name="docsearch:version" content="3.1">
<meta name="theme-color" content="#6f42c1">
<meta property="og:type" content="website">
<meta property="og:title" content="Data Gear - ART">



<title>Data Gear - ART</title>

 <link href="~/lib/smartcomponents/source/styles/smart.default.css" rel="stylesheet" />
 <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
 <link href="~/materialstyle/3.1/dist/css/materialstyle.css" rel="stylesheet" />
 <link href="~/css/smart.custom.css" rel="stylesheet" />
<script src="~/lib/SweatAlert/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="~/lib/SweatAlert/dist/sweetalert2.min.css">
 <style>
        .custom-link:hover {
            cursor: pointer; /* Changes cursor to a pointer when hovering over the link */
            
        }
 </style>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-T3YPJV7LJD');
</script>

 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    
    @RenderSection("KendoScripts", required: false)
</head>


<body >

    <partial name="_Header" />
    <partial name="_Sidebar" />
    <div class="offcanvas-pushed-content d-flex" >
        <div class="container-fluid p-2" style="margin-top: var(--navbar-fixed-height);">
            @RenderBody()
        </div>

    </div>
  

    <!-- Popper JS -->
    <script src="~/popperjs/core/dist/umd/popper.min.js"></script>

    <!-- MDC Ripple JS (Only for Ripple effects) -->
    <script src="~/lib/material/ripple/dist/mdc.ripple.min.js"></script>

    <!-- Material Style JS -->
    

    @*<script src="https://cdn.jsdelivr.net/npm/anchor-js/anchor.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@docsearch/js@3"></script>*@
    <link href="~/lib/jquery-toast-plugin/jquery.toast.min.css" rel="stylesheet" />
    <script src="~/lib/jquery-toast-plugin/jquery.toast.min.js"></script>
    
    <script src="~/materialstyle/3.1/dist/js/materialstyle.min.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script type="module" defer src="~/js/ExportListener.js"></script>
    <script   src="~/js/LicenseListener.js"></script>
    <input type='hidden' id='uid' readonly="readonly" runat='server' value="@User.Identity.Name">
    @RenderSection("scripts", required: false)

   
    <partial name="aml_analysisScript" />
    <script src="~/js/emitters/modelemitter.js"></script>


</body>





</html>
