<aside class="offcanvas offcanvas-start offcanvas-light" data-bs-scroll="true" tabindex="-1" id="drawer">
    <div class="offcanvas-header bg-primary">
        <a class="offcanvas-title text-white" href="javascript:">
            <img src="~/imgs/LOGOWhite.png" alt="ART logo" width="100" height="35" /> Analytics Reporting Tool
        </a>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body bg-primary bg-opacity-10">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="javascript:">
                    Link
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:">
                    Link
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#menuA" role="button" aria-expanded="false" aria-controls="menuA">
                    Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A
                </a>
                <div class="collapse" id="menuA">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link ps-4" href="javascript:">
                                Menu Item
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ps-4" href="javascript:">
                                Menu Item
                            </a>
                        </li>
                    </ul>
                </div>
            </li>      <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#menuA" role="button" aria-expanded="false" aria-controls="menuA">
                    Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A
                </a>
                <div class="collapse" id="menuA">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link ps-4" href="javascript:">
                                Menu Item
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ps-4" href="javascript:">
                                Menu Item
                            </a>
                        </li>
                    </ul>
                </div>
            </li>      <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#menuA" role="button" aria-expanded="false" aria-controls="menuA">
                    Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A
                </a>
                <div class="collapse" id="menuA">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link ps-4" href="javascript:">
                                Menu Item
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ps-4" href="javascript:">
                                Menu Item
                            </a>
                        </li>
                    </ul>
                </div>
            </li>      <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#menuA" role="button" aria-expanded="false" aria-controls="menuA">
                    Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A
                </a>
                <div class="collapse" id="menuA">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link ps-4" href="javascript:">
                                Menu Item
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ps-4" href="javascript:">
                                Menu Item
                            </a>
                        </li>
                    </ul>
                </div>
            </li>      <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#menuA" role="button" aria-expanded="false" aria-controls="menuA">
                    Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A
                </a>
                <div class="collapse" id="menuA">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link ps-4" href="javascript:">
                                Menu Item
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ps-4" href="javascript:">
                                Menu Item
                            </a>
                        </li>
                    </ul>
                </div>
            </li>      <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#menuA" role="button" aria-expanded="false" aria-controls="menuA">
                    Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A
                </a>
                <div class="collapse" id="menuA">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link ps-4" href="javascript:">
                                Menu Item
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ps-4" href="javascript:">
                                Menu Item
                            </a>
                        </li>
                    </ul>
                </div>
            </li>      <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#menuA" role="button" aria-expanded="false" aria-controls="menuA">
                    Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A
                </a>
                <div class="collapse" id="menuA">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link ps-4" href="javascript:">
                                Menu Item
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ps-4" href="javascript:">
                                Menu Item
                            </a>
                        </li>
                    </ul>
                </div>
            </li>      <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#menuA" role="button" aria-expanded="false" aria-controls="menuA">
                    Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A
                </a>
                <div class="collapse" id="menuA">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link ps-4" href="javascript:">
                                Menu Item
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ps-4" href="javascript:">
                                Menu Item
                            </a>
                        </li>
                    </ul>
                </div>
            </li>      <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#menuA" role="button" aria-expanded="false" aria-controls="menuA">
                    Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A
                </a>
                <div class="collapse" id="menuA">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link ps-4" href="javascript:">
                                Menu Item
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ps-4" href="javascript:">
                                Menu Item
                            </a>
                        </li>
                    </ul>
                </div>
            </li>      <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#menuA" role="button" aria-expanded="false" aria-controls="menuA">
                    Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A
                </a>
                <div class="collapse" id="menuA">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link ps-4" href="javascript:">
                                Menu Item
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ps-4" href="javascript:">
                                Menu Item
                            </a>
                        </li>
                    </ul>
                </div>
            </li>      <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#menuA" role="button" aria-expanded="false" aria-controls="menuA">
                    Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A
                </a>
                <div class="collapse" id="menuA">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link ps-4" href="javascript:">
                                Menu Item
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ps-4" href="javascript:">
                                Menu Item
                            </a>
                        </li>
                    </ul>
                </div>
            </li>      <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#menuA" role="button" aria-expanded="false" aria-controls="menuA">
                    Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A
                </a>
                <div class="collapse" id="menuA">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link ps-4" href="javascript:">
                                Menu Item
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ps-4" href="javascript:">
                                Menu Item
                            </a>
                        </li>
                    </ul>
                </div>
            </li>      <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#menuA" role="button" aria-expanded="false" aria-controls="menuA">
                    Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A
                </a>
                <div class="collapse" id="menuA">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link ps-4" href="javascript:">
                                Menu Item
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ps-4" href="javascript:">
                                Menu Item
                            </a>
                        </li>
                    </ul>
                </div>
            </li>      <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#menuA" role="button" aria-expanded="false" aria-controls="menuA">
                    Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A
                </a>
                <div class="collapse" id="menuA">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link ps-4" href="javascript:">
                                Menu Item
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ps-4" href="javascript:">
                                Menu Item
                            </a>
                        </li>
                    </ul>
                </div>
            </li>      <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#menuA" role="button" aria-expanded="false" aria-controls="menuA">
                    Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A
                </a>
                <div class="collapse" id="menuA">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link ps-4" href="javascript:">
                                Menu Item
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ps-4" href="javascript:">
                                Menu Item
                            </a>
                        </li>
                    </ul>
                </div>
            </li>      <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#menuA" role="button" aria-expanded="false" aria-controls="menuA">
                    Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A
                </a>
                <div class="collapse" id="menuA">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link ps-4" href="javascript:">
                                Menu Item
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ps-4" href="javascript:">
                                Menu Item
                            </a>
                        </li>
                    </ul>
                </div>
            </li>      <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#menuA" role="button" aria-expanded="false" aria-controls="menuA">
                    Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A
                </a>
                <div class="collapse" id="menuA">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link ps-4" href="javascript:">
                                Menu Item
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ps-4" href="javascript:">
                                Menu Item
                            </a>
                        </li>
                    </ul>
                </div>
            </li>      <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#menuA" role="button" aria-expanded="false" aria-controls="menuA">
                    Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A Menu A
                </a>
                <div class="collapse" id="menuA">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link ps-4" href="javascript:">
                                Menu Item
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ps-4" href="javascript:">
                                Menu Item
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#menuB" role="button" aria-expanded="false" aria-controls="menuB">
                    Menu B
                </a>
                <div class="collapse" id="menuB">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link ps-4" href="javascript:">
                                Menu ItemMenu ItemMenu ItemMenu ItemMenu ItemMenu ItemMenu ItemMenu ItemMenu Item
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ps-4" href="javascript:">
                                Menu Item
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#menuC" role="button" aria-expanded="false" aria-controls="menuC">
                    Menu C
                </a>
                <div class="collapse" id="menuC">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link ps-4" href="javascript:">
                                Menu Item
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ps-4" href="javascript:">
                                Menu Item
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:">
                    Link
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:">
                    Link
                </a>
            </li>
        </ul>
    </div>
</aside>





