@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid" style="height:100%">
        <div class="jumbotron" style="height: 100%">
            <h1 class="display-4">@ViewData["title"]</h1>
            <p class="lead">@ViewData["desc"]</p>
            <hr class="my-4">
            <div class="d-flex justify-content-between">
                <img src="~/imgs/LOGO.png" class="rounded col-4" alt="DataGear Logo">
                <img src="~/imgs/ABK.jpg" class="rounded col-4" style="margin-left: 30.3333%" alt="ABK Logo">
            </div>
        </div>
        </div>
   </body>
</html>
