@model ART_PACKAGE.Helpers.ExportTasks.ExportTaskDto
@using ART_PACKAGE.Helpers.HTMLHelpers;
@using Data.Data.ExportSchedular;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<style>
    .disabledDiv {
        pointer-events: none;
        opacity: 0.6;
        cursor: not-allowed;
    }
</style>


<h1>Edit Task</h1>

<form id="EditTaskForm">



    <div class="row m-2">
        <a class="btn btn-link col-2" asp-action="index"><span class="glyphicon glyphicon-arrow-left"></span>Back to Tasks</a>
        <div class="col-8"></div>
        <button type="submit" class="btn btn-primary col-2">Add</button>
    </div>


    <ul class="icon-top nav nav-tabs nav-justified" role="tablist">
        <li class="nav-item" role="presentation">
            <button type="button" class="nav-link " data-bs-toggle="tab" role="tab" data-bs-target="#TaskName">
                <i class="bi bi-info-circle"></i> Task Info
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button type="button" class="nav-link active" data-bs-toggle="tab" role="tab" data-bs-target="#TaskTime">
                <i class="bi bi-alarm"></i> Task Time
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button type="button" class="nav-link" data-bs-toggle="tab" role="tab" data-bs-target="#TaskConfiguratio">
                <i class="bi bi-gear"></i> Task Configuration
            </button>
        </li>

    </ul>
    <!-- Tab Panes -->
    <div class="tab-content">
        <div class="tab-pane container-fluid " role="tabpanel" id="TaskName">
            <div class="row mt-5">

                <div class="col-6">
                    <m-input id="taskName" data-palceholder="Task Name" data-title="Task Name"></m-input>
                </div>
                <div class="col-6">
                    <m-select id="reportsDropDown" data-searchable data-title="Report" style="width:100%"></m-select>
                </div>
                <div class="col-12 mt-2 ">
                    <m-areainput id="taskDesc" dat-palceholder="Task Description" data-title="Task Description"></m-areainput>
                </div>

                <div class="col-12 mt-2">
                    <smart-query-builder id="querybuilder"></smart-query-builder>
                </div>
            </div>

        </div>
        <div class="tab-pane container-fluid active" role="tabpanel" id="TaskTime">


            <div class="row mt-5">
                <div class="col-4">
                    <m-select id="periodDropDown" data-searchable data-title="Period" style="width:100%"></m-select>
                </div>
                <div class="col-4">
                    <m-select id="monthDropDown" data-searchable data-title="Month" style="width:100%" data-disabled></m-select>
                </div>
                <div class="col-4">
                    <m-select id="weekDayDropDown" data-searchable data-title="Week Day" style="width:100%" data-disabled></m-select>
                </div>
            </div>



            <div class="row mt-5">
                <div class="col-6 d-flex justify-content-center">
                    <smart-calendar id="calendar" selection-mode='one' disabled></smart-calendar>
                </div>
                <div class="col-6">
                    <smart-time-picker id="timepicker" view="landscape" disabled></smart-time-picker>
                </div>
            </div>

        </div>
        <div class="tab-pane container-fluid fade" role="tabpanel" id="TaskConfiguratio">
            <div class="row mt-5" style="display:flex;align-items:center">
                <div class="col-2">
                    <div style="display:flex;justify-content:space-between">
                        <label for="emailSwitch-art-switch">Send To Mails</label>
                        <art-switch id="emailSwitch"></art-switch>
                    </div>
                </div>
                <div class="row col-10 disabledDiv" id="mailsDiv">
                    <div class="col-12">
                        <m-areainput id="mailContent" data-palceholder="Mail Content" data-title="Mail Content"></m-areainput>
                    </div>
                    <email-input id="mailsInput"></email-input>
                </div>
            </div>
            <div class="row mt-5" style="display:flex;align-items:center">
                <div class="col-2">
                    <div style="display:flex;justify-content:space-between">
                        <label for="serverSwitch-art-switch">Save on Server</label>
                        <art-switch id="serverSwitch"></art-switch>
                    </div>
                </div>
                <div class="col-10 d-flex">
                    <m-input id="filePath" data-palceholder="Path" data-title="Path" data-disabled></m-input>
                </div>
            </div>
        </div>
    </div>













</form>

@section scripts {
    <script>var Model = JSON.parse('@Json.Serialize(Model)');console.log(Model)</script>
    <script src="~/lib/smartcomponents/source/modules/smart.multicomboinput.js"></script>
    <script src="~/lib/smartcomponents/source/modules/smart.timepicker.js"></script>
    <script src="~/lib/smartcomponents/source/modules/smart.querybuilder.js"></script>
    <script src="~/lib/smartcomponents/source/modules/smart.calendar.js"></script>
   @* <script src="~/lib/emailinput/emails-input.js"></script>*@
    <script src="~/js/components/switch/switch.js"></script>
    <script src="~/js/components/multiselect/select.js"></script>
    <script src="~/js/components/textinput/textinput.js"></script>
    <script src="~/js/components/textareainput/textareainput.js"></script>
    <script type="module" src="~/js/components/emailinput/emailinput.js"></script>
    <script type="module" defer src="~/js/taskschedularscripts/EditTask.js"></script>

}
