@{
    ViewData["Title"] = "Tasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>
    System scheduled Export Tasks
</h2>


<m-grid id="tasks" data-urlkey="TaskSchedularUrl" data-handlerkey="TaskSchedular"></m-grid>


@section KendoScripts{
    <partial name="_GridScripts" />
}

@section scripts{
    <script src="~/lib/smartcomponents/source/modules/smart.progressbar.js"></script>
    <script src="~/lib/smartcomponents/source/modules/smart.tree.js"></script>
    <script type="module" src="~/js/components/grid/grid.js"></script>
}
