@{
    ViewData["Title"] = "Tasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/lib/Plugins/Kendo/kendo.default-v2.min.css" rel="stylesheet" />
@*<script src="~/lib/Plugins/Kendo/jquery-1.12.4.min.js"></script>*@
<script src="~/lib/Plugins/Kendo/jquery.min.js"></script>
<script src="~/lib/Plugins/Kendo/jszip.js"></script>
<script src="~/lib/Plugins/Kendo/jszip.min.js"></script>
<script src="~/lib/Plugins/Kendo/kendo.all.min.js"></script>

<h2>
    System scheduled Export Tasks
</h2>


<div id="grid"></div>


@section scripts {

    <script src="~/js/Dynamic.js" type="module" defer id="script" data-urlkey="TaskSchedularUrl" data-handlerkey="TaskSchedular"></script>

}
