
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="content-header">
    <div style="text-align:center;">
        <h1>
            All Segment Outliers
        </h1>
    </div>
</section>
<br/>

<div class="row">
    <div class="col-4">
            <m-select name="monthKey" id="MonthKey" data-searchable data-title="Month Key">
            </m-select>
    </div>
    <div class="col-4">
            <m-select name="segmentTypes" id="PartyTypeDesc" data-searchable data-title="Party Type">
            </m-select>
    </div>
    <div class="col-4">
            <m-select name="segmentId" id="Segment" data-searchable data-title="Segment">
            </m-select>
    </div>
</div>

<br/>
<m-grid id="outliers" data-urlkey="AllSegmentsOutliersNew" data-handlerkey="AllSegmentsOutliersNew"></m-grid>
<br/>

    <m-donut-chart id="ch1" class="col-12" data-title="Outlier Per Segment" data-category="Cat" data-value="NumberOfOutliers" style="height:600px"></m-donut-chart>
    <m-donut-chart id="ch2" class="col-12" data-title="Outliers Vs Customers Per Segment" data-category="Cat" data-value="NumberOfOutliers" style="height:600px"></m-donut-chart>



@section KendoScripts{
    <partial name="_GridScripts" />
}
@section scripts {

    <script src="~/js/components/multiselect/select.js"></script>
    <script src="~/js/components/grid/grid.js" type="module" defer></script>
    <script src="~/js/segmentdetails.js" type="module" defer></script>
    <script src="~/js/components/charts/charts.js" type="module" defer></script>
    <script src="~/lib/Plugins/amcharts_4.10.18/amcharts4/core.js"></script>
    <script src="~/lib/Plugins/amcharts_4.10.18/amcharts4/charts.js"></script>
    <script src="~/lib/Plugins/amcharts_4.10.18/amcharts4/themes/animated.js"></script>
}
