
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section KendoScripts{
    <partial name="_GridScripts" />
}

<section class="content-header">
    <h1>
        OS Transactions By Non-Pri Report
        <small>This report produces information for non-principal parties instead of principal parties. All totals are in the reporting currency if one is specified, otherwise in base currency.</small>
    </h1>
</section>
<m-grid id="OSTransactionsByNonPri" data-urlkey="OSTransactionsByNonPri" data-handlerkey="OSTransactionsByNonPri"></m-grid>

@*<div id="grid"></div>*@
@section Scripts{
    <script type="module" defer src="~/js/Components/Grid/Grid.js"></script>
    
    @*<script src="~/js/Dynamic.js" type="module" defer id="script" data-urlkey="OSTransactionsByNonPri"></script>*@
}