
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section KendoScripts{
    <partial name="_GridScripts" />
}
<section class="content-header">
    <h1>
        Activity Report
        <small>This report produces information for a single master record or for all master records, showing what events have been initiated for each master record and the status of the current active steps for each event within it</small>
    </h1>
</section>
<m-grid id="Activity" data-urlkey="Activity" data-handlerkey="Activity"></m-grid>

@*<div id="grid"></div>*@
@section Scripts{
    <script type="module" defer src="~/js/Components/Grid/Grid.js"></script>
    
   @* <script src="~/js/Dynamic.js" type="module" defer id="script" data-urlkey="Activity"></script>*@
}

