@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section KendoScripts{
    <partial name="_GridScripts" />
}



<section class="content-header">
    <h1>
        Expired ID customers Report
        <small class="h6">Presents all expired ID customers need to be update their expired IDs with the related information below</small>
        <br />
    </h1>
</section>

<m-grid id="ArtKycExpiredId" data-urlkey="ArtKycExpiredId" data-handlerkey="ArtKycExpiredId"></m-grid>

@section Scripts{
    <script type="module" defer src="~/js/components/grid/grid.js"></script>
}
