@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section KendoScripts{
    <partial name="_GridScripts" />
}



<section class="content-header">
    <h1>
        List Of Deleted Users
        <small class="h6">This Report presents all deleted users with the related informaton as below</small>
        <br />
    </h1>
</section>

<m-grid id="ListOfDeletedUsers" data-urlkey="ListOfDeletedUsers" data-handlerkey="ListOfDeletedUsers"></m-grid>

@section Scripts{
    <script type="module" defer src="~/js/components/grid/grid.js"></script>
}



