@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section KendoScripts{
    <partial name="_GridScripts" />
}
<section class="content-header">
    <h1>
        High risk within 1 month customers Report
        <small>presents all high-risk customers need to be update their KYCs within 1 month with the related information below</small>
        <br />
    </h1>
</section>
<m-grid id="ArtKycHighOneMonth" data-urlkey="ArtKycHighOneMonth" data-handlerkey="ArtKycHighOneMonth"></m-grid>

@*<div id="grid"></div>*@
@section Scripts{
    <script type="module" defer src="~/js/components/grid/grid.js"></script>


    @*<script src="~/js/Dynamic.js" id="script" defer type="module" data-urlkey="ArtKycHighOneMonth"></script>*@
}
