@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section KendoScripts{
    <partial name="_GridScripts" />
}
<section class="content-header">
    <h1>
         ACH Transaction
        <small>Presents all ACH transactions (trans_type_key in (530, 532, 533, 534, 537, 893, 926, 89, 11001, 11002, 11003, 11008)) for only staff with the related information as below</small>
        <br />
    </h1>
</section>


<m-grid id="AchTransaction" data-urlkey="AchTransaction" data-handlerkey="AchTransaction"></m-grid>

@section Scripts{
    <script type="module" defer src="~/js/components/grid/grid.js"></script>
}
