@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section KendoScripts{
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2021.3.914/styles/kendo.default-v2.min.css" />
    <script src="https://kendo.cdn.telerik.com/2021.3.914/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2021.3.914/js/kendo.all.min.js"></script>
    
}

<section class="content-header">
    <h1>
        Hierarchical Workflow
        <small></small>
        <br />
    </h1>
</section>

<div id="orgchart-container" style="position: relative;">
    <div id="orgchart"></div>
    <div id="loader" style="display:none;"></div>
</div>


<style>
    #loader {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000; /* Ensures the loader is on top of other elements */
    }
</style>

@section Scripts{
    <script type="module" defer src="~/js/hierarchicalworkflow.js"></script>
}
