@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section KendoScripts{
    <link href="~/css/kendo.common.min.css" rel="stylesheet" />
    <link href="~/css/kendo.default.min.css" rel="stylesheet" />
    <script src="~/js/kendo.all.min.js"></script>
    
}

<section class="content-header">
    <h1>
        Hierarchical Workflow
        <small></small>
        <br />
    </h1>
</section>


<div id="orgchart"></div>


@section Scripts{
    <script type="module" defer src="~/js/hierarchicalworkflow.js"></script>
}
