@using ART_PACKAGE.Helpers.CustomReport;
@using ART_PACKAGE.Helpers.HTMLHelpers;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
<link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.standalone.css" rel="stylesheet" />
<link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" />
<link href="~/lib/jquery-querybuilder/css/query-builder.dark.css" rel="stylesheet" />
<link href="~/lib/jquery-querybuilder/css/query-builder.dark.min.css" rel="stylesheet" />
<link href="~/lib/Plugins/Kendo/kendo.default-v2.min.css" rel="stylesheet" />
<link href="~/lib/jquery-toast-plugin/jquery.toast.css" rel="stylesheet" />
<link href="~/lib/jquery-toast-plugin/jquery.toast.min.css" rel="stylesheet" />
<link href="~/lib/jquery-confirm/jquery-confirm.min.css" rel="stylesheet" />
@*<script src="~/lib/Plugins/Kendo/jquery-1.12.4.min.js"></script>*@
<script src="~/lib/Plugins/Kendo/jquery.min.js"></script>
<script src="~/lib/Plugins/Kendo/jszip.js"></script>
<script src="~/lib/Plugins/Kendo/jszip.min.js"></script>
<script src="~/lib/Plugins/Kendo/kendo.all.min.js"></script>
<script src="~/lib/jquery-toast-plugin/jquery.toast.min.js"></script>
<script src="~/lib/jquery-confirm/jquery-confirm.min.js"></script>
<script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="~/lib/jquery-querybuilder/js/query-builder.min.js"></script>
<script src="~/lib/jquery-querybuilder/js/query-builder.standalone.min.js"></script>
<script src="~/lib/jquery-querybuilder/js/query-builder.standalone.js"></script>
<script src="~/lib/jquery-querybuilder/js/query-builder.js"></script>


<link href="~/lib/Plugins/amcharts_4.10.18/amcharts4/examples/javascript/simple-3D-pie-chart/index.css" rel="stylesheet" />
<script src="~/lib/Plugins/amcharts_4.10.18/amcharts4/core.js"></script>
<script src="~/lib/Plugins/amcharts_4.10.18/amcharts4/charts.js"></script>
<script src="~/lib/Plugins/amcharts_4.10.18/amcharts4/themes/animated.js"></script>
@*
    <script src="~/js/site.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/lib/Plugins/CustomPlugin/CustomGridScript.js"></script>*@

<section class="content-header">
    <h1>
        Risk SummaryReport
        <small> </small>
        <br />
    </h1>
</section>


<filters-control data-key="RiskClassSummary" data-chartsurl="RiskClassSummary"></filters-control>
@*<div id="grid"></div>*@
<div id="charts">
    <div id="StPropRiskClassSummary" class="col-lg-12 col-md-12 col-sm-12" style="height:600px" data-type="2"></div>
    <br />
    <div id="StRiskClassSummary" class="col-lg-12 col-md-12 col-sm-12" style="height:600px" data-type="2"></div>
</div>

@section Scripts {
    <script src="~/js/ConstructFilters.js" defer type="module"></script>
}


<!--@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<link href="~/lib/Plugins/Kendo/kendo.default-v2.min.css" rel="stylesheet" />-->
@*<script src="~/lib/Plugins/Kendo/jquery-1.12.4.min.js"></script>*@
<!--<script src="~/lib/Plugins/Kendo/jquery.min.js"></script>
<script src="~/lib/Plugins/Kendo/jszip.js"></script>
<script src="~/lib/Plugins/Kendo/jszip.min.js"></script>
<script src="~/lib/Plugins/Kendo/kendo.all.min.js"></script>-->
<!-- Charts Sections -->
<!--<link href="~/lib/Plugins/amcharts_4.10.18/amcharts4/examples/javascript/simple-3D-pie-chart/index.css" rel="stylesheet" />
<script src="~/lib/Plugins/amcharts_4.10.18/amcharts4/core.js"></script>
<script src="~/lib/Plugins/amcharts_4.10.18/amcharts4/charts.js"></script>
<script src="~/lib/Plugins/amcharts_4.10.18/amcharts4/themes/animated.js"></script>
<div class="row">
    <div class="col-md-12">
        <h2 class="text-center"><strong> Number Of Customers Per Risk Classification</strong></h2>
        <div id="RiskClassSummary" style="height:600px"></div>
    </div>
</div>
<script>

    $(document).ready(function () {

        $.getJSON("/RiskSummary/RiskClassSummary", function (data) {
            console.log(data);

            am4core.useTheme(am4themes_animated);

            am4core.addLicense("ch-custom-attribution");

            var chart = am4core.create("RiskClassSummary", am4charts.PieChart3D);


            chart.legend = new am4charts.Legend();
            chart.data = data;


            chart.innerRadius = am4core.percent(40);

            var series = chart.series.push(new am4charts.PieSeries3D());
            series.dataFields.value = "NumberOfCustomers";
            series.dataFields.category = "RiskClassification";


        });
    });


</script>

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center"><strong> Number Of Customers Per Proposed Risk Classification</strong></h2>
        <div id="PropRiskClassSummary" style="height:600px"></div>
    </div>
</div>
<script>

    $(document).ready(function () {

        $.getJSON("/RiskSummary/PropRiskClassSummary", function (data) {
            console.log(data);

            am4core.useTheme(am4themes_animated);

            am4core.addLicense("ch-custom-attribution");

            var chart = am4core.create("PropRiskClassSummary", am4charts.PieChart3D);


            chart.legend = new am4charts.Legend();
            chart.data = data;


            chart.innerRadius = am4core.percent(40);

            var series = chart.series.push(new am4charts.PieSeries3D());
            series.dataFields.value = "NumberOfCustomers";
            series.dataFields.category = "ProposedRiskClass";


        });
    });


</script>-->
