
@using ART_PACKAGE.Helpers.HTMLHelpers;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row accordion accordion-flush mb-4" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <span class="accordion-button collapsed text-uppercase fs-2 border border-primary-subtle" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Filters
                </span>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="row d-flex align-items-center">
                        <smart-query-builder class="offset-2 col-6" id="querybuilder" data-applybtn="applyBtn" data-params="BasicParams"></smart-query-builder>
                        <div class="col-2 d-flex justify-content-center">
                            <button id="applyBtn" class="btn btn-primary">Apply</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <m-donut-chart id="AmlRisk" data-dataurlkey="AmlRisk" data-filterbuilderid="querybuilder" data-title="Number OF Customers Per Risk Classification" data-category="RISK_CLASSIFICATION" data-value="NUMBER_OF_CUSTOMERS" style="height:600px"></m-donut-chart>
        <m-donut-chart id ="AmlPropRisk" data-dataurlkey="AmlPropRisk" data-filterbuilderid="querybuilder" data-title="Number OF Customers Per Proposed Risk Classification" data-category="PROPOSED_RISK_CLASS" data-value="NUMBER_OF_CUSTOMERS" style="height:600px"></m-donut-chart>

    </div>
</div>

@section Scripts {
    <script src="~/lib/smartcomponents/source/modules/smart.querybuilder.js"></script>
    <script type="module" defer src="~/js/components/charts/charts.js"></script>
}




