@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section KendoScripts{
    <partial name="_GridScripts" />
}



<section class="content-header">
    <h1>
        OS Transactions By Gateway Report
        <small class="h6">This report produces information for master records that are not yet booked off or cancelled for only those transactions relating to customer gateway customers</small>
        <br />
    </h1>
</section>

<m-grid id="OSTransactionsByGateway" data-urlkey="OSTransactionsByGateway" data-handlerkey="OSTransactionsByGateway"></m-grid>

@section Scripts{
    <script type="module" defer src="~/js/components/grid/grid.js"></script>
}
